.blx-alert {
  min-width: 392px;
  max-width: 762px;
  width: 90%;
  min-height: 80px;
  max-height: 222px;
  display: flex;
  padding: 16px;
  margin: 12px 0;
  border-top: 3px solid;
  border-radius: 0 0 3px 3px;
  
  background-color: $ui-02;
  box-shadow: 0 3px 6px 1px $ui-04;
  
  .blx-icon-close {
    background-color: $interactive;
    
    &:hover {
      background-color: $interactive-hover;
    }
    &:focus {
      background-color: $selection;
    }
  }
}

.blx-alert-icon-container {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex: 0 0 auto;
  
  background-color: $ui-04;
}

.blx-alert-icon, .blx-alert-icon-background {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
}

.blx-alert-icon {
  background-color: $ui-00;
}

.blx-alert-icon-background {
  border-radius: 50%;
}

.blx-alert-text {
  padding: 0 16px;
  flex: 1 1 auto;
}

.blx-success {
  .blx-alert-icon-background {
    background-color: $success;
  }

  .blx-alert-icon {
    mask: url('../svgs/icon-check.svg') no-repeat 50% 50%;
  }
}

.blx-warning {
  .blx-alert-icon-background {
    background-color: $warning;
  }

  .blx-alert-icon {
    mask: url('../svgs/icon-warning.svg') no-repeat 50% 50%;
  }
}

.blx-error {
  .blx-alert-icon-background {
    background-color: $error;
  }

  .blx-alert-icon {
    mask: url('../svgs/icon-error.svg') no-repeat 50% 50%;
  }
}

.blx-information {
  .blx-alert-icon-background {
    background-color: $information;
  }

  .blx-alert-icon {
    mask: url('../svgs/icon-information.svg') no-repeat 50% 50%;
  }
}
