@font-face {
  font-family: FranklinGothicNormal;
  font-weight: normal;
  src: url("../fonts/FG0.otf") format("opentype");
}

@font-face {
  font-family: FranklinGothicMedium;
  font-weight: medium;
  src: url("../fonts/FG2.otf") format("opentype");
}

@font-face {
  font-family: FranklinGothicBold;
  font-weight: bold;
  src: url("../fonts/FG4.otf") format("opentype");
}

html, body {
  min-height: 100%;
  height: 100%;
  font-family: $sans-serif-font-family-normal;
}
