.blx-breadcrumbs ul {
  display: flex;
  padding: 11px 16px 9px 16px;
  list-style-type: none;
  margin: 0;
}

.blx-breadcrumbs li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.blx-breadcrumbs li::before {
  content: "/";
  padding-left: 16px;
  padding-right: 16px;
}

.blx-breadcrumbs li:first-child::before {
  content: "";
  padding: 0;
}

.blx-breadcrumbs a:hover {
  text-decoration: none;
  color: $information;
}
