//
// VARIABLES
//

// button structure
$button-height = 40px;
$button-small-height = 28px;

$button-top-padding = 12px;
$button-side-padding = 16px;

$button-small-top-padding = 4px;
$button-small-side-padding = 12px;

$button-font-size = 16px;
$button-small-font-size = 16px;

// button colors
$button-focus-inset-color = $ui-01;

$primary-button-background-color = $brand-01;
$primary-button-hover-background-color = $brand-02;
$primary-button-disabled-background-color = $ui-05;
$primary-button-focus-background-color = $brand-02;

$primary-button-border-color = $brand-01;
$primary-button-hover-border-color = $brand-02;
$primary-button-disabled-border-color = $ui-05;
$primary-button-focus-border-color = $brand-02;

$primary-button-text-color = $ui-01;
$primary-button-hover-text-color = $ui-01;
$primary-button-focus-text-color = $ui-01;

$secondary-button-background-color = $ui-02;
$secondary-button-hover-background-color = $brand-01;
$secondary-button-disabled-background-color = $ui-02;
$secondary-button-focus-background-color = $brand-01;

$secondary-button-border-color = $ui-05;
$secondary-button-hover-border-color = $brand-01;
$secondary-button-disabled-border-color = $ui-05;
$secondary-button-focus-border-color = $brand-01;

$secondary-button-text-color = $ui-05;
$secondary-button-hover-text-color = $ui-01;
$secondary-button-focus-text-color = $ui-01;

//
// STRUCTURE
//

.button {
  margin: 0;
  height: $button-height;
  padding: $button-top-padding $button-side-padding;
  text-decoration: none;

  border-radius: $base-border-radius;
  cursor: pointer;

  font-size: $button-font-size;
  line-height: $button-font-size;
  font-family: $sans-serif-font-family-medium;
  text-align: center;

  &.small {
    height: $button-small-height;
    padding: $button-small-top-padding $button-small-side-padding;
    font-size: $button-small-font-size;
    line-height: $button-small-font-size;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover, &.hover {
    text-decoration: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

//
// THEME
//

.button {
  &.primary {
    background-color: $primary-button-background-color;
    border: 1px solid $primary-button-border-color;
    color: $primary-button-text-color;

    &:hover, &.hover {
      background-color: $primary-button-hover-background-color;
      border: 1px solid $primary-button-hover-border-color;
      color: $primary-button-hover-text-color;
    }

    &.disabled {
      background-color: $primary-button-disabled-background-color;
      border: 1px solid $primary-button-disabled-border-color;
    }
  }
  
  &.secondary {
    background-color: $secondary-button-background-color;
    border: 1px solid $secondary-button-border-color;
    color: $secondary-button-text-color;

    &:hover, &.hover {
      background-color: $secondary-button-hover-background-color;
      border: 1px solid $secondary-button-hover-border-color;
      color: $secondary-button-hover-text-color;
    }
  }
}

.button:focus, .button:active, .button.focus {
  outline: none;
  text-decoration: none;
  
  &.primary {
    border: 1px solid $primary-button-focus-border-color;
    box-shadow: inset 0 0 0 1px $button-focus-inset-color;
    background-color: $primary-button-focus-background-color;
    color: $primary-button-focus-text-color;
  }

  &.secondary {
    border: 1px solid $secondary-button-focus-border-color;
    box-shadow: inset 0 0 0 1px $button-focus-inset-color;
    background-color: $secondary-button-focus-background-color;
    color: $secondary-button-focus-text-color;
  }
}
