//
// STRUCTURE
//

.button {
  margin: 0;
  height: $button-height;
  padding: $button-top-padding $button-side-padding;
  text-decoration: none;

  border-radius: $base-border-radius;
  cursor: pointer;

  font-size: $button-font-size;
  line-height: 1.25;
  font-family: $sans-serif-font-family-medium;
  text-align: center;

  &.small {
    height: $button-small-height;
    padding: $button-small-top-padding $button-small-side-padding;
    font-size: $button-small-font-size;
    line-height: 1.5;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover, &.hover {
    text-decoration: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

//
// THEME
//

.button {
  box-shadow: 0 2px 4px 0 $button-shadow-color;
  &.primary {
    background-color: $primary-button-background-color;
    border: 2px solid $primary-button-border-color;
    color: $primary-button-text-color;

    &:hover, &.hover {
      background-color: $primary-button-hover-background-color;
      border: 2px solid $primary-button-hover-border-color;
      color: $primary-button-hover-text-color;
    }
  }

  &.secondary {
    background-color: $secondary-button-background-color;
    border: 2px solid $secondary-button-border-color;
    color: $secondary-button-text-color;

    &:hover, &.hover {
      background-color: $secondary-button-hover-background-color;
      border: 2px solid $secondary-button-hover-border-color;
      color: $secondary-button-hover-text-color;
    }
  }
  
  &:hover, &.hover {
    box-shadow: 0 2px 4px 0 $button-hover-shadow-color;
  }
}

.button:focus, .button:active, .button.focus {
  outline: none;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 $button-hover-shadow-color;

  &.primary {
    border: 2px solid $primary-button-focus-border-color;
    background-color: $primary-button-focus-background-color;
    color: $primary-button-focus-text-color;
  }

  &.secondary {
    border: 2px solid $secondary-button-focus-border-color;
    background-color: $secondary-button-focus-background-color;
    color: $secondary-button-focus-text-color;
  }
}
