.blx-button {
  display: inline-block;
  position: relative;

  margin: 12px 10px;
  height: $button-height;
  max-width: 480px;
  min-width: 64px;
  padding: 7px 18px 9px 18px; // specified padding - 2px to account for border
  text-decoration: none;

  border-radius: $base-border-radius;
  cursor: pointer;

  font-size: $button-font-size;
  font-weight: $medium-weight;
  text-align: center;
  line-height: 24px;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  box-shadow: 0 2px 4px 0 $button-shadow-color;
  
  .blx-icon {
    position: relative;
    top: 4px;
    width: 20px;
    height: 20px;
    
    &:first-child {
      left: -8px;
    }
    
    &:last-child {
      right: -8px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover, &.blx-hover {
    text-decoration: none;
    box-shadow: 0 2px 4px 0 $button-hover-shadow-color;
  }

  &.blx-primary {
    background-color: $primary-button-background-color;
    border: 2px solid $primary-button-border-color;
    color: $primary-button-text-color;
    
    .blx-icon {
      background-color: $primary-button-text-color;
    }

    &:hover, &.blx-hover {
      background-color: $primary-button-hover-background-color;
      border: 2px solid $primary-button-hover-border-color;
      color: $primary-button-hover-text-color;
    }
  }

  &.blx-secondary {
    background-color: $secondary-button-background-color;
    border: 2px solid $secondary-button-border-color;
    color: $secondary-button-text-color;
    
    .blx-icon {
      background-color: $secondary-button-text-color;
    }

    &:hover, &.blx-hover {
      background-color: $secondary-button-hover-background-color;
      border: 2px solid $secondary-button-hover-border-color;
      color: $secondary-button-hover-text-color;
    }
  }

  &:focus, &:active, &.blx-focus {
    outline: none;
    text-decoration: none;
    box-shadow: 0 2px 4px 0 $button-hover-shadow-color;

    &.blx-primary {
      border: 2px solid $primary-button-focus-border-color;
      background-color: $primary-button-focus-background-color;
      color: $primary-button-focus-text-color;
    }

    &.blx-secondary {
      border: 2px solid $secondary-button-focus-border-color;
      background-color: $secondary-button-focus-background-color;
      color: $secondary-button-focus-text-color;
    }
  }
}

a.blx-button {
  display: inline-flex;
  align-items: center;
}
