/* The container */
.blx-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 9px 0;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  .blx-label {
    font-size: 14px;
    font-weight: $normal-weight;
    text-align: left;
    line-height: 20px;

    color: $checkbox-text-color;
  }

  /* Create a custom checkbox */
  .blx-checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: $checkbox-size;
    width: $checkbox-size;
    border-radius: $base-border-radius;
    margin: 3px 0;

    background-color: $checkbox-unselected-background-color;
    border: 1px solid $checkbox-unselected-border-color;

    /* Create the checkmark/indicator (hidden when not checked) */
    &::after {
      display: none;
      box-sizing: content-box;
      content: "";
      position: absolute;
      left: 5px;
      top: 2px;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  /* Hide the browser's default checkbox */
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    /* When the checkbox is checked */
    &:checked ~ .blx-checkmark {
      background-color: $checkbox-selected-background-color;
      border: 1px solid $checkbox-selected-border-color;

      /* Show the checkmark when checked */
      &::after {
        display: block;
        left: 5px;
        top: 2px;
      }
    }
    &:checked {
      &:focus + .blx-checkmark, &.blx-focus + .blx-checkmark {
        background-color: $checkbox-selected-focus-background-color;
        outline: none;
        border: 1px solid $ui-00;
        box-shadow: 0 0 0 2px $checkbox-selected-focus-border-color;
      }
    }
    &:focus + .blx-checkmark, &.blx-focus + .blx-checkmark {
      outline: none;
      border: 1px solid $checkbox-unselected-focus-border-color;
    }
  }

  &:hover, &.blx-hover {
    input[type="checkbox"] ~ .blx-checkmark {
      background-color: $checkbox-unselected-hover-background-color;
      border: 2px solid $checkbox-unselected-hover-border-color;
      box-shadow: none;
    }

    input[type="checkbox"]:checked ~ .blx-checkmark {
      background-color: $checkbox-selected-hover-background-color;
      border: 1px solid $checkbox-selected-hover-border-color;
      box-shadow: none;
    }
  }

  &.blx-disabled {
    box-shadow: none;
    cursor: pointer;
  }
}
