//
// STRUCTURE
//

.checkbox-label-text {
  font-size: 16px;
  font-weight: $normal-weight;
  text-align: left;
  line-height: 20px;
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: $base-border-radius;
  margin: 6px 0;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  //
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

//
// THEME
//

.checkbox-label-text {
  color: $text-01;
}

.checkmark {
  background-color: $ui-00;
  border: 1px solid $ui-04;
  
  &:hover, &.hover {
    background-color: $ui-00;
    border: 1px solid $ui-04;
  }
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $brand-01;
  border: 1px solid $brand-01;

  &.disabled {
    background-color: $ui-07;
    border: 1px solid $ui-07;
  }
  
  &:hover, &.hover {
    background-color: $brand-01;
    border: 1px solid $brand-01;
  }
}

.checkbox-container input[type="checkbox"]:focus + span,
.checkbox-container input[type="checkbox"].focus + span {
  outline: none;
  box-shadow: 0 0 0 2px $selection;
}
