// dropdown specific variables
$dropdown-icon-color = $primary-00;

$dropdown-default-text-color = $dark-02;
$dropdown-focus-text-color = $dark-00;
$dropdown-filled-text-color = $dark-00;

$dropdown-default-background-color = $secondary-00;
$dropdown-hover-background-color = $secondary-00;
$dropdown-focus-background-color = $secondary-00;
$dropdown-active-background-color = $secondary-00;

$dropdown-default-border = 1px solid $light-01;
$dropdown-active-border = 1px solid $light-02;
$dropdown-hover-border = 1px solid $light-02;
$dropdown-focus-border = 1px solid $focus;
$dropdown-error-border = 1px solid $danger-00;

$dropdown-item-default-text-color = $dark-00;
$dropdown-item-hover-text-color = $secondary-00;
$dropdown-item-focus-text-color = $secondary-00;

$dropdown-item-default-background-color = transparent;
$dropdown-item-hover-background-color = $primary-00;
$dropdown-item-focus-background-color = $primary-00;

// dropdown styles
.blx-dropdown-wrapper {
  display: inline-flex;
}

.blx-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 300px;
}

.blx-dropdown-trigger {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  border-radius: $base-border-radius;
  padding: 0 48px 0 16px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: $dropdown-default-background-color;
  border: $dropdown-default-border;
  blxUIPlaceholder();
  margin: 0;

  &::after {
    position: absolute;
    top: 10px;
    right: 16px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    mask: url('../svgs/icon-down.svg') no-repeat 50% 50%;
    transition: transform 300ms;
    background-color: $dropdown-icon-color;
  }

  &.blx-active::after {
    transform: rotate(180deg);
    transition: transform 300ms;
  }

  &:focus, &.blx-focus {
    margin: 0;
    outline: none;
    background-color: $dropdown-focus-background-color;
    border: $dropdown-focus-border;
    color: $dropdown-focus-text-color;

    &::after {
      top: 10px;
    }

    .blx-icon {
      margin-top: 12px;

      & + span {
        margin-top: 10px;
      }
    }
  }

  &:hover, &.blx-hover {
    background-color: $dropdown-hover-background-color;
    border: $dropdown-hover-border;
  }

  &.blx-invalid {
    border: $dropdown-error-border;
  }

  .blx-icon {
    margin: 12px 10px 12px 0;
    background-color: $light-02;
    pointer-events: none;

    & + span {
      margin: 10px 0;
    }
  }
}

.blx-dropdown-text, .blx-dropdown-placeholder {
  blxTruncateText();
}

.blx-dropdown-text {
  color: $dropdown-filled-text-color;
}

.blx-dropdown-placeholder {
  color: $dropdown-default-text-color;
}

.blx-dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: $base-border-radius;
  z-index: 1;
  margin: 8px 0;
  padding: 8px 0;
  list-style-type: none;

  background-color: $dropdown-default-background-color;
  border: $dropdown-default-border;
  box-shadow: $default-box-shadow;
}

.blx-dropdown-list {
  max-height: 200px;
  overflow-y: auto;
}

.blx-dropdown-item {
  background: $dropdown-item-default-background-color;

  a, button {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: $normal-weight;
    line-height: 20px;
    text-align: left;
    blxTruncateText();
    cursor: pointer;
    color: $dropdown-item-default-text-color;

    &:focus, &.blx-focus, &:active, &.blx-active {
      outline: none;
      color: $dropdown-item-focus-text-color;
      background-color: $dropdown-item-focus-background-color;
    }
  }

  &:hover, &.blx-hover {
    background-color: $dropdown-item-hover-background-color;
    a, button {
      text-decoration: none;
      color: $dropdown-item-hover-text-color;
    }

    .blx-icon {
      background-color: $dropdown-item-hover-text-color;
    }
  }
}
