.blx-icon {
  display: inline-block
  width: 24px;
  height: 16px;
  cursor: pointer;
  flex: 0 0 auto;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
  background-color: $brand-01;
}

.blx-icon-information {
  background-color: $information;
  mask: url('../svgs/icon-information.svg') no-repeat 50% 50%;
}

.blx-icon-down {
  height: 12px;
  mask: url('../svgs/icon-down.svg') no-repeat 50% 50%;
}

.blx-icon-up {
  mask: url('../svgs/icon-up.svg') no-repeat 50% 50%;
}

.blx-icon-back {
  mask: url('../svgs/icon-back.svg') no-repeat 50% 50%;
}

.blx-icon-forward {
  mask: url('../svgs/icon-forward.svg') no-repeat 50% 50%;
}

.blx-icon-drag {
  mask: url('../svgs/icon-drag.svg') no-repeat 50% 50%;
}

.blx-icon-plus {
  background-color: $brand-01;
  mask: url('../svgs/icon-plus.svg') no-repeat 50% 50%;

  &:hover {
    background-color: $selection;
  }

  &:focus {
    background-color: $selection;
  }
}

.blx-icon-close {
  mask: url('../svgs/icon-close.svg') no-repeat 50% 50%;
}

.blx-icon-more-horizontal {
  mask: url('../svgs/icon-more-horizontal.svg') no-repeat 50% 50%;
}

.blx-icon-more-vertical {
  height: 20px;
  mask: url('../svgs/icon-more-vertical.svg') no-repeat 50% 50%;
}