//
// STRUCTURE
//

.icon, .icon-info {
  display: inline-block
  width: 24px;
  height: 16px;
  cursor: pointer;
  flex: 0 0 auto;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
}

//
// THEME
//

.icon {
  background-color: var(--brand-01);
}

.icon-info {
  background-color: var(--brand-03);
}

.icon, .icon-info {
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
}

.icon-down-arrow {
  height: 12px;
  mask: url('../svgs/icon-down.svg') no-repeat 50% 50%;
}

.icon-up-arrow {
  mask: url('../svgs/icon-up.svg') no-repeat 50% 50%;
}

.icon-back {
  mask: url('../svgs/icon-back.svg') no-repeat 50% 50%;
}

.icon-forward {
  mask: url('../svgs/icon-forward.svg') no-repeat 50% 50%;
}

.icon-drag {
  mask: url('../svgs/icon-drag.svg') no-repeat 50% 50%;
}

.icon-plus {
  background-color: var(--brand-01);
  mask: url('../svgs/icon-plus.svg') no-repeat 50% 50%;

  &:hover {
    background-color: var(--brand-02);
  }

  &:focus {
    background-color: var(--brand-02);
  }
}

.icon-close {
  mask: url('../svgs/icon-close.svg') no-repeat 50% 50%;
}

.icon-more {
  mask: url('../svgs/icon-more.svg') no-repeat 50% 50%;
}
