.blx-progress-dots {
  display: flex;
  
  .blx-progress-dot-container {
    position: relative;
    margin-right: 8px;
    
    input {
      position: absolute;
      left: -9999px;
      opacity: 0;
      cursor: pointer;
      
      &:checked ~ .blx-progress-dot {
        background-color: $brand-01;
      }
      
      &:focus ~ .blx-progress-dot {
        background-color: $selection;
      }
    }
    
    .blx-progress-dot {
      display: block;
      position: relative;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $ui-04;

      &:hover {
        cursor: pointer;
        background-color: $selection;
      }
    }
  }
}
