/* The container */
.blx-radio {
  background-color: $ui-01;
  width: 220px;
  display: block;
  position: relative;
  padding: 9px 0 9px 62px;
  margin: 0;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  
  .blx-radio-label {
    font-size: 14px;
    font-weight: $normal-weight;
    text-align: left;
    line-height: 16px;
    color: $radio-text-color;
  }
  
  /* Create a custom radio button */
  .blx-radio-check {
    position: absolute;
    top: 9px;
    left: 32px;
    height: $radio-size;
    width: $radio-size;
    border-radius: 50%;
    
    background-color: $radio-unselected-background-color;
    border: 1px solid $radio-unselected-border-color;
    
    /* Create the checkmark/indicator (hidden when not checked) */
    &::after {
      display: none;
      content: "";
      position: absolute;
      top: 3.650px;
      left: 3.850px;
      width: 7.10px;
      height: 7.10px;
      border-radius: 50%;
      background-color: $radio-selected-background-color;
    }
  }
  
  /* Hide the browser's default radio button */
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
    /* When the radio button is checked */
    &:checked ~ .blx-radio-check {
      border: 1px solid $radio-selected-border-color;
      
      /* Show the checkmark when checked */
      &::after {
        display: block;
        
      }
    }
    &:checked {
      &:focus + .blx-radio-check, &.blx-focus + .blx-radio-check {
        outline: none;
        border: 1px solid $radio-selected-border-color;
        box-shadow: 0 0 0 1px $radio-selected-focus-border-color;
        &::before {
          display: block;
        }
      }
      &:active + .blx-radio-check, &.blx-active + .blx-radio-check {
        border: 1px solid $radio-selected-border-color;
        box-shadow: none;
      }
    }
    &:focus + .blx-radio-check, &.blx-focus + .blx-radio-check {
      outline: none;
      border: 1px solid $radio-unselected-focus-border-color;
    }
    &:active + .blx-radio-check, &.blx-active + .blx-radio-check {
      background-color: $radio-unselected-background-color;
      border: 1px solid $radio-unselected-active-border-color;
      box-shadow: none;
    }
  }
  
  &:hover, &.blx-hover {
    input[type="radio"] ~ .blx-radio-check {
      background-color: $radio-unselected-hover-background-color;
      border: 1px solid $radio-unselected-hover-border-color;
      box-shadow: none;
    }
    
    input[type="radio"]:checked ~ .blx-radio-check {
      background-color: $radio-unselected-background-color;
      border: 1px solid $radio-selected-hover-border-color;
      box-shadow: none;
      
      &::after {
        background-color: $radio-selected-hover-background-color;
      }
    }
  }
  
  &.blx-disabled {
    box-shadow: none;
    cursor: pointer;
  }

  &.blx-invalid {
    input[type="radio"] ~ .blx-radio-check, input[type="radio"]:hover ~ .blx-radio-check {
      background-color: $radio-unselected-background-color;
      border: 1px solid $error;
      box-shadow: none;

      &::after {
        background-color: $error;
      }
    }
  }
}
