//
// STRUCTURE
//

.radio-label-text {
  font-size: 16px;
  font-weight: $normal-weight;
  text-align: left;
  line-height: 20px;
}

/* The container */
.radio-button-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button-container:hover input ~ .radio-check {
  // background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked ~ .radio-check:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .radio-check:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

//
// THEME
//

.radio-label-text {
  color: $text-01;
}

.radio-check {
  background-color: $ui-00;
  border: 1px solid $ui-04;
  
  &:hover, &.hover {
    background-color: $ui-00;
    border: 1px solid $ui-04;
    box-shadow: 0 2px 4px 0 $interactive-shadow;
  }
}

.radio-button-container input:checked ~ .radio-check {
  background-color: $ui-00;
  border: 1px solid $brand-01;
  
  &.hover {
    border: 1px solid $interactive-hover;
  }

  &.disabled {
    border: 1px solid $ui-07;
  }
}

.radio-button-container input:checked:hover ~ .radio-check {
  border: 1px solid $interactive-hover;
  box-shadow: 0 2px 4px 0 $interactive-shadow;
  
  &:after {
    background-color: $interactive-hover;
  }
}

.radio-button-container .radio-check:after {
  background-color: $brand-01;
}

.radio-button-container .radio-check.hover:after {
  background-color: $interactive-hover;
}

.radio-button-container .radio-check.disabled:after {
  background-color: $ui-07;
}

.radio-button-container input[type="radio"]:focus + .radio-check,
.radio-button-container input[type="radio"].focus + .radio-check {
  outline: none;
  border: 1px solid $success;
  box-shadow: 0 2px 4px 0 $interactive-shadow;
}

.radio-button-container input[type="radio"]:checked:focus + .radio-check,
.radio-button-container input[type="radio"]:checked.focus + .radio-check {
  outline: none;
  border: 1px solid $interactive-hover;
  box-shadow: 0 2px 4px 0 $interactive-shadow,
              0 0 0 1px $success;
              
  &:after {
    background-color: $interactive-hover;
  }
}

.radio-button-container input[type="radio"]:disabled + .radio-check {
  opacity: 0.5;
  border: 1px solid $ui-04;
  box-shadow: none;
  pointer-events: none;
  
  &:after {
    background-color: $brand-01;
  }
}

.radio-button-container input[type="radio"]:checked:disabled + .radio-check {
  border: 1px solid $brand-01;
}
