.blx-hidden {
  display: none;
}

.blx-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.blx-truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}