.blx-horizontal-tabs, .blx-vertical-tabs {
  user-select: none;
  background-color: transparent;
  
  label {
    input[type="radio"] {
      position: absolute;
      left: -9999px;
      opacity: 0;
    }
  }
  
  .blx-tab-item {
    min-height: 32px;
    height: 32px;
    vertical-align: middle;
    
    font-weight: $medium-weight;
    font-size: 14px;
    line-height: 18px;
    
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    
    color: $text-02;
    border: none;
    
    &:active, &.blx-active {
      color: $interactive;
    }
    &:hover, &.blx-hover {
      text-decoration: none;
      color: $interactive-hover;
    }
    &:focus, &.blx-focus {
      outline: none;
      color: $selection;
      background: transparent;
    }
  }
  
  input[type="radio"]:checked + .blx-tab-item {
    color: $interactive;
  }
  input[type="radio"]:focus + .blx-tab-item {
    color: $selection;
  }
  input[type="radio"]:hover + .blx-tab-item {
    color: $interactive-hover;
  }
}

.blx-horizontal-tabs {
  display: inline-flex;
  
  input[type="radio"]:checked + .blx-tab-item {
    border-bottom: 4px solid $interactive;
  }
  input[type="radio"]:focus + .blx-tab-item {
    border-bottom: 4px solid $selection;
  }
  input[type="radio"]:hover + .blx-tab-item {
    border-bottom: 4px solid $interactive-hover;
  }
  
  .blx-tab-item {
    margin: 10px 16px;
    padding: 4px 0;
    
    border-bottom: 4px solid transparent;
    &:active, &.blx-active {
      border-bottom: 4px solid $interactive;
    }
    &:hover, &.blx-hover {
      border-bottom: 4px solid $interactive-hover;
    }
    &:focus, &.blx-focus {
      border-bottom: 4px solid $selection;
    }
  }
  
  &.blx-disabled {
    .blx-tab-item {
      border-bottom: 4px solid transparent;
    }
  }
}

.blx-vertical-tabs {
  display: block;
  
  input[type="radio"]:checked + .blx-tab-item {
    border-left: 4px solid $interactive;
  }
  input[type="radio"]:focus + .blx-tab-item {
    border-left: 4px solid $selection;
  }
  input[type="radio"]:hover + .blx-tab-item {
    border-left: 4px solid $interactive-hover;
  }
  
  .blx-tab-item {
    display: block;
    margin: 8px 0 8px -12px;
    margin-left: -12px;
    padding: 4px 8px;
    
    border-left: 4px solid transparent;
    &:active, &.blx-active {
      border-left: 4px solid $interactive;
    }
    &:hover, &.blx-hover {
      border-left: 4px solid $interactive-hover;
    }
    &:focus, &.blx-focus {
      border-left: 4px solid $selection;
    }
  }
  
  &.blx-disabled {
    .blx-tab-item {
      border-left: 4px solid transparent;
    }
  }
}

.blx-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
  
  input[type="radio"] {
    pointer-events: none;
  }
  
  .blx-tab-item {
    color: $text-02;
    border-color: transparent;
  }
}
