//
// STRUCTURE
//

.horizontal-tabs {
  display: inline-flex;
  height: 40px;
  min-height: 40px;
  user-select: none;
  
  label {
    position: relative;
    margin-right: 32px;
    cursor: pointer;
    
    input[type="radio"] {
      position: absolute;
      left: -9999px;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.vertical-tabs {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
  padding: 20px 32px;
  
  label {
    position: relative;
    cursor: pointer;
    
    input[type="radio"] {
      position: absolute;
      left: -9999px;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.tab-title {
  display: block;
  font-size: 16px;
  font-family: $sans-serif-font-family-medium;
  line-height: 20px;
  text-align: left;
  height: 40px;
  padding-top: 10px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid transparent;

  &:hover {
    cursor: pointer;
  }
}

.horizontal-tabs, .vertical-tabs {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

//
// THEME
//

.horizontal-tabs, .vertical-tabs {
  background-color: transparent;
}

.tab-title {
  color: $text-02;

  &:focus {
    outline: none;
    color: $text-02;
    background-color: transparent;
    border-bottom: 4px solid $selection;
  }

  &:hover {
    border-bottom: 4px solid $ui-04;
  }

  &.active {
    color: $text-01;
    border-bottom: 4px solid $brand-01;
  }
}

.horizontal-tabs {
  & > label input[type="radio"]:checked ~ .tab-title {
    color: $text-01;
    border-bottom: 4px solid $brand-01;
  }
  
  & > label input[type="radio"]:focus + .tab-title {
    border-bottom: 4px solid $selection;
  }
}

.vertical-tabs {
  & > label input[type="radio"]:checked ~ .tab-title {
    color: $text-01;
    border-bottom: 4px solid $brand-01;
  }
  
  & > label input[type="radio"]:focus + .tab-title {
    border-bottom: 4px solid $selection;
  }
}

.horizontal-tabs, .vertical-tabs {
  &.disabled {
    .tab-title {
      color: $text-02;
      border: none;
    }
  }
}
