//
// STRUCTURE
//

p {
  font-size: $base-font-size;
  font-family: $sans-serif-font-family-normal;
  line-height: 24px;
  text-align: left;

  margin: 12px 0;

  &.text-emph {
    font-family: $sans-serif-font-family-medium;
  }
}

a, .link {
  font-size: 16px;
  line-height: 20px;

  &:hover, &.hover, &:focus, &.focus {
    cursor: pointer;
    text-decoration: underline;
  }
}

.heading-large {
  margin: 12px 0;
  display: block;
  font-size: 52px;
  font-family: $sans-serif-font-family-bold;
  line-height: 65px;
  text-align: left;
}

.heading-medium {
  display: block;
  font-size: 36px;
  font-family: $sans-serif-font-family-medium;
  line-height: 45px;
  text-align: left;
}

.title {
  margin: 12px 0;
  font-size: 20px;
  font-family: $sans-serif-font-family-medium;
  line-height: 25px;
  text-align: left;
}

.category-title {
  font-size: 20px;
  font-family: $sans-serif-font-family-medium;
  line-height: 24px;
  margin: 0;
}

.statistic-title {
  font-size: 20px;
  font-family: $sans-serif-font-family-medium;
  line-height: 25px;
  margin: 0;
}

.small-title {
  font-size: 16px;
  font-family: $sans-serif-font-family-medium;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

.small-text {
  font-family: $sans-serif-font-family-normal;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  margin: 0;
}

.tab {
  font-size: 16px;
  font-family: $sans-serif-font-family-medium;
  line-height: 20px;
  text-align: left;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.ui {
  font-size: 16px;
  font-family: $sans-serif-font-family-normal;
  line-height: 20px;
  text-align: left;

  margin: 12px 0;

  &:hover {
    border-radius: 3px;
    cursor: pointer;
  }
}

.capitalize {
  text-transform: uppercase;
}

.brand-name {
  font-family: $sans-serif-font-family-bold;
}

.brand-name-by {
  font-family: $sans-serif-font-family-medium;
}

//
// THEME
//

.heading-large {
  color: $brand-01;
}

.heading-medium {
  color: $text-01;
}

.title {
  color: $text-01;
}

.category-title {
  color: $ui-05;
}

.statistic-title {
  color: $text-02;
}

.success {
  color: $success-color;
}

.warning {
  color: $warning-color;
}

.error {
  color: $error-color;
}

.information {
  color: $information-color;
}

.tab {
  color: $text-02;

  &:active {
    color: $text-01;
  }

  &:hover {
    color: $brand-01;
  }
}

.ui {
  color: $text-01;
}

label {
  color: $text-01;
}

p {
  color: $text-01;
}

a, .link {
  color: $brand-03;
  text-decoration: none;

  &:hover, &.hover {
    color: $text-01;
  }

  &:focus, &.focus {
    background-color: $ui-03;
    outline: none;
    text-decoration: none;
    color: $brand-03;
  }

  &.disabled {
    color: $text-01;
    opacity: 0.5;
    pointer-events: none;
  }
}
