//
// STRUCTURE
//

.text-field {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 16px;
    line-height: 20px;
  }

  input[type="text"] {
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    border-radius: $base-border-radius;
    padding: 11px 16px 9px 16px;
  }
}

.text-field-container {
  position: relative;
}

.text-field-prefix, .text-field-suffix {
  font-size: 16px;
  line-height: 20px;
}

.text-field-prefix {
  position: absolute;
  left: 16px;
  user-select: none;

  & ~ input[type="text"] {
    padding-left: 40px;
  }
}

.text-field-suffix {
  position: absolute;
  right: 8px;
  user-select: none;

  & ~ input[type="text"] {
    padding-right: 40px;
  }
}

.invalid-label-message {
  font-size: 12px;
  line-height: 18px;
}

//
// THEME
//

.text-field {
  label {
    color: $text-01;
  }

  input[type="text"] {
    background-color: $ui-01;
    border: 1px solid $ui-03;

    &.invalid {
      border: 1px solid $error;
    }

    &:hover, &.hover {
      border: 1px solid $ui-03;
      box-shadow: 0 0 0 1px $ui-03;
    }

    &:focus, &.focus {
      outline: none;
      border: 1px solid $selection;
    }

    &:read-only {
      pointer-events: none;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.text-field-prefix, .text-field-suffix {
  color: $text-01;
}

.invalid-label-marker {
  color: $error;
}

.invalid-label-message {
  color: $text-02;
}
