button {
  font-weight: $normal-weight;
}

p, label {
  font-weight: $normal-weight;
  font-size: $base-font-size;
  line-height: 28px;
  text-align: left;
  color: $text-01;
}

a, .link {
  font-size: $base-font-size;
  line-height: 20px;
  color: $information;
  text-decoration: none;

  &:hover, &.hover, &:focus, &.focus {
    cursor: pointer;
    text-decoration: underline;
  }

  &:hover, &.hover {
    color: $text-01;
  }

  &:focus, &.focus {
    background-color: $ui-03;
    outline: none;
    text-decoration: none;
    color: $information;
  }

  &.disabled {
    color: $text-01;
    opacity: 0.5;
    pointer-events: none;
  }
}

h1 {
  font-weight: $medium-weight;
  font-size: 96px;
  line-height: 123px;
  color: $text-01;
}

h2 {
  font-weight: $medium-weight;
  font-size: 60px;
  line-height: 77px;
  color: $text-01;
}

h3 {
  font-weight: $medium-weight;
  font-size: 48px;
  line-height: 67px;
  color: $text-01;
}

h4 {
  font-weight: $medium-weight;
  font-size: 34px;
  line-height: 43px;
  color: $text-01;
}

h5 {
  font-weight: $medium-weight;
  font-size: 24px;
  line-height: 31px;
  color: $text-01;
}

h6 {
  font-weight: $medium-weight;
  font-size: 20px;
  line-height: 26px;
  color: $text-01;
}

.subtitle {
  font-weight: $medium-weight;
  font-size: 16px;
  line-height: 24px;
  color: $text-01;
  
  &.dark-bg {
    background-color: $text-01;
    color: $ui-00;
  }
}

.subtitle-small {
  font-weight: $medium-weight;
  font-size: 14px;
  line-height: 18px;
  color: $text-01;
}

.ui-text {
  font-weight: $normal-weight;
  font-size: 14px;
  line-height: 18px;
  color: $text-01;
}

.body-caps {
  font-weight: $medium-weight;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: $text-01;
}

.caption {
  font-weight: $normal-weight;
  font-size: 12px;
  line-height: 16px;
  color: $text-01;
}

.overline {
  font-weight: $medium-weight;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.capitalize {
  text-transform: uppercase;
}

.brand-name {
  font-weight: $bold-weight;
}

.brand-name-by {
  font-weight: $medium-weight;
}

.interactive {
  color: $interactive;
}

.inactive {
  color: $text-02;
}

.success {
  color: $success;
}

.warning {
  color: $warning;
}

.error {
  color: $error;
}

.information {
  color: $information;
}
