// text field specific variables
$text-field-background-color = $secondary-00;

$text-field-date-icon-color = $primary-00;

$text-field-text-color = $dark-00;
$text-field-prefix-suffix-color = $dark-00;
$text-field-helper-text-color = $dark-02;

$text-field-default-border = 1px solid $light-01;
$text-field-active-border = 1px solid $light-02;
$text-field-hover-border = 1px solid $light-02;
$text-field-focus-border = 1px solid $focus;
$text-field-error-border = 1px solid $danger-00;

// text field styles
.blx-text-field-container {
  position: relative;
  display: flex;
}

.blx-text-field {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 19px;
  min-width: 150px;
  max-width: 484px;
  width: 300px;

  label {
    margin-bottom: 6px;
  }

  input {
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $sans-serif-font-family;

    &::placeholder {
      blxUIPlaceholder();
    }
  }

  input[type="date"] {
    position: relative;
    width: 176px;

    &::before, &::after {
      content: "";
      position: absolute;
      height: 16px;
      pointer-events: none;
    }

    &::before {
      right: 16px;
      width: 20px;
      background-color: $text-field-background-color;
    }

    &::after {
      right: 18px;
      width: 16px;
      background-repeat: no-repeat;
      background-color: $text-field-date-icon-color;
      mask: url('../svgs/icon-calendar.svg') no-repeat 50% 50%;
    }
  }

  textarea {
    resize: none;
    overflow: hidden;
  }

  input, textarea {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    border-radius: $base-border-radius;
    padding: 11px 16px;

    background-color: $text-field-background-color;
    border: $text-field-default-border;

    &:hover, &.blx-hover {
      border: $text-field-hover-border;
    }

    &:focus, &.blx-focus {
      outline: none;
      border: $text-field-focus-border;
    }

    &.blx-invalid {
      border: $text-field-error-border;
    }

    &:read-only {
      pointer-events: none;
    }

    &.blx-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .blx-text-field-prefix, .blx-text-field-suffix, .blx-text-field-icon {
    font-size: 16px;
    line-height: 20px;
    padding-top: 11px;
    padding-bottom: 9px;

    color: $text-field-prefix-suffix-color;
  }

  .blx-text-field-prefix {
    position: absolute;
    left: 16px;
    user-select: none;

    & ~ input {
      padding-left: 40px;
    }
  }

  .blx-text-field-suffix {
    position: absolute;
    right: 8px;
    user-select: none;

    & ~ input {
      padding-right: 40px;
    }
  }

  .blx-text-field-icon {
    margin-left: 10px;
  }

  .blx-text-field-helper {
    color: $text-field-helper-text-color;
    font-size: 12px;
    line-height: 16px;
  }
}
