.blx-toggle {
  display: inline-flex;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  margin: 12px 16px;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .blx-toggle-container {
    position: relative;

    input {
      position: absolute;
      left: -9999px;
      opacity: 0;
      cursor: pointer;
      
      &:checked ~ .blx-toggle-text {
        border: 1px solid $brand-01;
        background-color: $brand-01;
        color: $ui-00;
      }
      
      &:focus ~ .blx-toggle-text {
        background-color: $selection;
        color: $ui-00;
      }
    }
    
    .blx-toggle-text {
      padding: 10px 30px;
      cursor: pointer;
      border: 1px solid $ui-07;
      background-color: $ui-00;

      &:hover {
        background-color: $selection;
        color: $ui-00;
      }
    }
    
    &:first-of-type .blx-toggle-text {
      border-radius: $base-border-radius 0 0 $base-border-radius;
      border-right: none;
    }

    &:last-of-type .blx-toggle-text {
      border-radius: 0 $base-border-radius $base-border-radius 0;
      border-left: none;
    }

  }
}
