//
// STRUCTURE
//

.toggle {
  display: inline-flex;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  margin: 12px 16px;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.toggle-container {
  position: relative;
}

.toggle-container input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}

.toggle-button-text {
  padding: 10px 30px;
  cursor: pointer;
}

.toggle-container:first-of-type {
  .toggle-button-text {
    border-radius: 3px 0 0 3px;
    border-right: none;
  }
}

.toggle-container:last-of-type {
  .toggle-button-text {
    border-radius: 0 3px 3px 0;
    border-left: none;
  }
}

//
// THEME
//

.toggle-button-text {
  border: 1px solid var(--ui-05, $ui-05);
  background-color: var(--ui-01, $ui-01);

  &:hover {
    background-color: var(--brand-02, $brand-02);
    color: var(--ui-01, $ui-01);
  }
}

.toggle-container input:checked ~ .toggle-button-text {
  border: 1px solid var(--brand-01, $brand-01);
  background-color: var(--brand-01, $brand-01);
  color: var(--ui-01, $ui-01);
}

.toggle-container input:focus ~ .toggle-button-text {
  background-color: var(--brand-02, $brand-02);
  color: var(--ui-01, $ui-01);
}
