// define some text mixins
blxBaseText() {
  font-weight: $normal-weight;
  font-size: $base-font-size;
  line-height: 28px;
  text-align: left;
  color: $text-01;
}

blxLink() {
  font-size: $base-font-size;
  line-height: 20px;
  color: $interactive;
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: left;

  &:hover, &.blx-hover {
    color: $interactive-hover;
  }

  &:focus, &.blx-focus {
    outline: none;
    color: $selection;
  }

  &.blx-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

blxH() {
  font-weight: $medium-weight;
  color: $text-01;
}

blxH1() {
  blxH()
  font-size: 96px;
  line-height: 123px;
}

blxH2() {
  blxH()
  font-size: 60px;
  line-height: 77px;
}

blxH3() {
  blxH()
  font-size: 48px;
  line-height: 67px;
}

blxH4() {
  blxH()
  font-size: 34px;
  line-height: 43px;
}

blxH5() {
  blxH()
  font-size: 24px;
  line-height: 31px;
}

blxH6() {
  blxH()
  font-size: 20px;
  line-height: 26px;
}

blxUIText() {
  font-weight: $normal-weight;
  font-size: 14px;
  line-height: 18px;
  color: $text-01;
}

blxUIPlaceholder() {
  blxUIText();
  color: $ui-07;
}

// use those mixins to define our base text styles

p, label {
  blxBaseText()
}

a, .blx-link {
  blxLink()
}

h1 {
  blxH1()
}

h2 {
  blxH2()
}

h3 {
  blxH3()
}

h4 {
  blxH4()
}

h5 {
  blxH5()
}

h6 {
  blxH6()
}

.blx-subtitle {
  font-weight: $medium-weight;
  font-size: 16px;
  line-height: 24px;
  color: $text-01;
  
  &.dark-bg {
    background-color: $text-01;
    color: $ui-00;
  }
}

.blx-subtitle-small {
  font-weight: $medium-weight;
  font-size: 14px;
  line-height: 18px;
  color: $text-01;
}

.blx-ui-text {
  blxUIText();
}

.blx-body-caps {
  font-weight: $medium-weight;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: $text-01;
}

.blx-caption {
  font-weight: $normal-weight;
  font-size: 12px;
  line-height: 16px;
  color: $text-01;
}

.blx-overline {
  font-weight: $medium-weight;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.blx-capitalize {
  text-transform: uppercase;
}

.blx-interactive {
  color: $interactive;
}

.blx-inactive {
  color: $text-02;
}

.blx-success {
  color: $success;
}

.blx-warning {
  color: $warning;
}

.blx-error {
  color: $error;
}

.blx-information {
  color: $information;
}
