// define some text mixins
blxBaseText() {
  font-weight: $normal-weight;
  font-size: $base-font-size;
  line-height: 24px;
  text-align: left;
  color: $text-01;
  margin-bottom: 12px;
}

blxLink() {
  font-size: $base-font-size;
  line-height: 20px;
  color: $interactive;
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: left;

  &:hover, &.blx-hover {
    color: $interactive-hover;
  }

  &:focus, &.blx-focus {
    outline: none;
    color: $selection;
  }

  &.blx-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

blxH() {
  font-weight: $bold-weight;
  color: $text-01;
}

blxHXL() {
  blxH()
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.3rem;
  margin-top: 108px;
  margin-bottom: 36px;
}

blxH1() {
  blxH()
  font-size: 65px;
  line-height: 72px;
  letter-spacing: -0.25rem;
  margin-top: 108px;
  margin-bottom: 36px;
}

blxH2() {
  blxH()
  font-size: 39px;
  line-height: 42px;
  letter-spacing: -0.01rem;
  margin-top: 42px;
  margin-bottom: 24px;
}

blxH3() {
  blxH()
  font-size: 23px;
  line-height: 24px;
  letter-spacing: -0.005rem;
  margin-top: 24px;
  margin-bottom: 12px;
}

blxH4() {
  blxH()
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
  margin-top: 24px;
  margin-bottom: 12px;
}

blxH5() {
  blxH()
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05rem;
  margin-top: 12px;
  margin-bottom: 6px;
}

blxH6() {
  blxH()
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05rem;
  margin-top: 0;
  margin-bottom: 0;
}

blxUIText() {
  font-weight: $normal-weight;
  font-size: 14px;
  line-height: 14px;
  color: $text-01;
  margin-bottom: 6px;
}

blxUIPlaceholder() {
  blxUIText();
  color: $ui-07;
}

// use those mixins to define our base text styles

p, label {
  blxBaseText()
}

a, .blx-link {
  blxLink()
}

h1.blx-XL {
  blxHXL()
}

h1 {
  blxH1()
}

h2 {
  blxH2()
}

h3 {
  blxH3()
}

h4 {
  blxH4()
}

h5 {
  blxH5()
}

h6 {
  blxH6()
}

.blx-subtitle {
  font-weight: $medium-weight;
  font-size: 16px;
  line-height: 18px;
  color: $text-01;
  margin-top: 12px;
  margin-bottom: 6px;
  
  &.light {
    color: $ui-00;
  }
}

.blx-subtitle-small {
  font-weight: $medium-weight;
  font-size: 14px;
  line-height: 18px;
  color: $text-01;
  letter-spacing: 0.005rem;
  margin-top: 18px;
}

.blx-ui-text {
  blxUIText();
}

.blx-body-caps {
  font-weight: $normal-weight;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-01;
  margin-bottom: 12px;
}

.blx-caption {
  font-weight: $normal-weight;
  font-size: 12px;
  line-height: 18px;
  color: $text-01;
  letter-spacing: 0.05rem;
  margin-bottom: 6px;
}

.blx-overline {
  font-weight: $medium-weight;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 12px;
  margin-bottom: 6px;
}

.blx-capitalize {
  text-transform: uppercase;
}

.blx-interactive {
  color: $interactive;
}

.blx-inactive {
  color: $text-02;
}

.blx-success {
  color: $success;
}

.blx-warning {
  color: $warning;
}

.blx-error {
  color: $error;
}

.blx-information {
  color: $information;
}
