@font-face {
  font-family: FranklinGothicNormal;
  font-weight: normal;
  src: url("../fonts/FG0.otf") format("opentype");
}

@font-face {
  font-family: FranklinGothicMedium;
  font-weight: medium;
  src: url("../fonts/FG2.otf") format("opentype");
}

@font-face {
  font-family: FranklinGothicBold;
  font-weight: bold;
  src: url("../fonts/FG4.otf") format("opentype");
}

//
// font  variables
//

$sans-serif-font-family-normal = FranklinGothicNormal;
$sans-serif-font-family-medium = FranklinGothicMedium;
$sans-serif-font-family-bold = FranklinGothicBold;

$normal-weight = 400;
$medium-weight = 500;
$bold-weight = 700;

//
// theme colors
//

$brand-01-hex = #00b07d;
$brand-02-hex = #75e6c9;

$ui-01-hex = #ffffff;
$ui-02-hex = #f5faf8;
$ui-03-hex = #f0f6f3;
$ui-04-hex = #d6e2e0;
$ui-05-hex = #8ca59c;

$text-01-hex = #2b3836;
$text-02-hex = #686f6d;

$support-01-hex = #ec4f07;
$success-01-hex = #00b07d;
$information-01-hex = #6f6bf8;
$warning-01-hex = #fdb100;
$error-01-hex = $support-01-hex;

:root {
  --brand-01: $brand-01-hex;
  --brand-02: $brand-02-hex;

  --ui-01: $ui-01-hex;
  --ui-02: $ui-02-hex;
  --ui-03: $ui-03-hex;
  --ui-04: $ui-04-hex;
  --ui-05: $ui-05-hex;

  --text-01: $text-01-hex;
  --text-02: $text-02-hex;

  --support-01: $support-01-hex;
  --success-01: $success-01-hex;
  --information-01: $information-01-hex;
  --warning-01: $warning-01-hex;
  --error-01: $error-01-hex;
}

$brand-01 = var(--brand-01, $brand-01-hex);
$brand-02 = var(--brand-02, $brand-02-hex);

$ui-01 = var(--ui-01, $ui-01-hex);
$ui-02 = var(--ui-02, $ui-02-hex);
$ui-03 = var(--ui-03, $ui-03-hex);
$ui-04 = var(--ui-04, $ui-04-hex);
$ui-05 = var(--ui-05, $ui-05-hex);

$text-01 = var(--text-01, $text-01-hex);
$text-02 = var(--text-02, $text-02-hex);

$support-01 = var(--support-01, $support-01-hex);
$success-01 = var(--success-01-hex, $success-01-hex);
$information-01 = var(--information-01, $information-01-hex);
$warning-01 = var(--warning-01, $warning-01-hex);
$error-01 = var(--error-01, $error-01-hex);

//
// TEXT VARIABLES
//
$base-font-size = 16px;

//
// COMPONENT VARIABLES
//

// common variables
$base-border-radius = 7px;
