:root {
  --interactive: $interactive-hex;
  --interactive-hover: $interactive-hover-hex;
  --interactive-active: $interactive-active-hex;
  --interactive-shadow: $interactive-shadow-hex;
  --interactive-shadow-hover: $interactive-shadow-hover-hex;

  --brand-01: $brand-01-hex;

  --ui-00: $ui-00-hex;
  --ui-01: $ui-01-hex;
  --ui-02: $ui-02-hex;
  --ui-03: $ui-03-hex;
  --ui-04: $ui-04-hex;
  --ui-05: $ui-05-hex;
  --ui-06: $ui-06-hex;
  --ui-07: $ui-07-hex;
  --ui-08: $ui-08-hex;

  --text-01: $text-01-hex;
  --text-02: $text-02-hex;

  --success: $success-hex;
  --information: $information-hex;
  --warning: $warning-hex;
  --error: $error-hex;
  --selection: $selection-hex;
  
  --error: $error-hex;
  --error-hover: $error-hover-hex;
  --secondary-hover: $secondary-hover-hex;
  --secondary-active: $secondary-active-hex;
}

