// @font-face {
//   font-family: GraphikRegular;
//   src: url("../fonts/Graphik-Regular.otf") format("opentype");
// }

// @font-face {
//   font-family: GraphikMedium;
//   src: url("../fonts/Graphik-Medium.otf") format("opentype");
// }

// @font-face {
//   font-family: GraphikBold;
//   src: url("../fonts/Graphik-Bold.otf") format("opentype");
// }
@font-face {
  font-family: FranklinGothicNormal;
  src: url("../fonts/FG0.otf") format("opentype");
}

@font-face {
  font-family: FranklinGothicMedium;
  src: url("../fonts/FG2.otf") format("opentype");
}

@font-face {
  font-family: FranklinGothicBold;
  src: url("../fonts/FG4.otf") format("opentype");
}

