@font-face {
  font-family: FranklinGothicNormal;
  font-weight: normal;
  src: url("../fonts/FG0.otf") format("opentype");
}
@font-face {
  font-family: FranklinGothicMedium;
  font-weight: medium;
  src: url("../fonts/FG2.otf") format("opentype");
}
@font-face {
  font-family: FranklinGothicBold;
  font-weight: bold;
  src: url("../fonts/FG4.otf") format("opentype");
}
:root {
  --brand-01: #00b07d;
  --brand-02: #75e6c9;
  --ui-01: #fff;
  --ui-02: #f5faf8;
  --ui-03: #f0f6f3;
  --ui-04: #d6e2e0;
  --ui-05: #8ca59c;
  --text-01: #2b3836;
  --text-02: #686f6d;
  --success-01: #00b07d;
  --information-01: #6f6bf8;
  --warning-01: #fdb100;
  --error-01: #ec4f07;
}
html,
body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: FranklinGothicNormal;
}
* {
  box-sizing: border-box;
}
button {
  font-family: FranklinGothicNormal;
}
p {
  font-size: 16px;
  font-family: FranklinGothicNormal;
  line-height: 24px;
  text-align: left;
  margin: 12px 0;
}
p.text-emph {
  font-family: FranklinGothicMedium;
}
a,
.link {
  font-size: 16px;
  line-height: 20px;
}
a:hover,
.link:hover,
a.hover,
.link.hover,
a:focus,
.link:focus,
a.focus,
.link.focus {
  cursor: pointer;
  text-decoration: underline;
}
.heading-large {
  margin: 12px 0;
  display: block;
  font-size: 52px;
  font-family: FranklinGothicBold;
  line-height: 65px;
  text-align: left;
}
.heading-medium {
  display: block;
  font-size: 36px;
  font-family: FranklinGothicMedium;
  line-height: 45px;
  text-align: left;
}
.title {
  margin: 12px 0;
  font-size: 20px;
  font-family: FranklinGothicMedium;
  line-height: 25px;
  text-align: left;
}
.category-title {
  font-size: 20px;
  font-family: FranklinGothicMedium;
  line-height: 24px;
  margin: 0;
}
.statistic-title {
  font-size: 20px;
  font-family: FranklinGothicMedium;
  line-height: 25px;
  margin: 0;
}
.small-title {
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
  text-align: left;
  margin: 0;
}
.small-text {
  font-family: FranklinGothicNormal;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
.tab {
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
}
.tab:hover {
  cursor: pointer;
  text-decoration: none;
}
.ui {
  font-size: 16px;
  font-family: FranklinGothicNormal;
  line-height: 20px;
  text-align: left;
  margin: 12px 0;
}
.ui:hover {
  border-radius: 3px;
  cursor: pointer;
}
.capitalize {
  text-transform: uppercase;
}
.brand-name {
  font-family: FranklinGothicBold;
}
.brand-name-by {
  font-family: FranklinGothicMedium;
}
.heading-large {
  color: var(--brand-01, #00b07d);
}
.heading-medium {
  color: var(--text-01, #2b3836);
}
.title {
  color: var(--text-01, #2b3836);
}
.category-title {
  color: var(--ui-05, #8ca59c);
}
.statistic-title {
  color: var(--text-02, #686f6d);
}
.success {
  color: var(--success-01-hex, #00b07d);
}
.warning {
  color: var(--warning-01, #fdb100);
}
.error {
  color: var(--error-01, #ec4f07);
}
.information {
  color: var(--information-01, #6f6bf8);
}
.tab {
  color: var(--text-02, #686f6d);
}
.tab:active {
  color: var(--text-01, #2b3836);
}
.tab:hover {
  color: var(--brand-01, #00b07d);
}
.ui {
  color: var(--text-01, #2b3836);
}
label {
  color: var(--text-01, #2b3836);
}
p {
  color: var(--text-01, #2b3836);
}
a,
.link {
  color: $informatino-01;
  text-decoration: none;
}
a:hover,
.link:hover,
a.hover,
.link.hover {
  color: var(--text-01, #2b3836);
}
a:focus,
.link:focus,
a.focus,
.link.focus {
  background-color: var(--ui-03, #f0f6f3);
  outline: none;
  text-decoration: none;
  color: $informatino-01;
}
a.disabled,
.link.disabled {
  color: var(--text-01, #2b3836);
  opacity: 0.5;
  pointer-events: none;
}
.accordion {
  position: relative;
  width: 320px;
}
.accordion-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.accordion-section input[type=checkbox][name='accordion-tab'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-section input[type=checkbox][name='accordion-tab']:checked + label::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.accordion-section .accordion-trigger {
  position: relative;
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}
.accordion-section .accordion-trigger > p {
  font-family: FranklinGothicMedium;
}
.accordion-section .accordion-trigger::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 12px 16px;
  transition: all 0.25s;
  content: "";
  background-image: url("../svgs/icon-forward.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.accordion-section .accordion-trigger > * {
  margin: 0 0 0 32px;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
}
.accordion-trigger {
  background-color: var(--ui-04, #d6e2e0);
}
.accordion-content {
  background-color: var(--ui-03, #f0f6f3);
}
.accordion-content .accordion-trigger {
  background-color: transparent;
}
.alert {
  width: 90%;
  display: flex;
  padding: 16px;
  margin: 12px 0;
  border-top: 3px solid;
  border-radius: 0 0 3px 3px;
}
.alert-icon-container {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex: 0 0 auto;
}
.alert-icon,
.alert-icon-background {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
}
.alert-icon-background {
  border-radius: 50%;
}
.alert-text {
  padding: 0 16px;
  flex: 1 1 auto;
}
.alert-close {
  width: 16px;
  height: 16px;
  cursor: pointer;
  flex: 0 0 auto;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
}
.alert {
  background-color: var(--ui-02, #f5faf8);
  box-shadow: 0 3px 6px 1px var(--ui-04, #d6e2e0);
}
.alert-icon-container {
  background-color: var(--ui-04, #d6e2e0);
}
.alert-icon {
  background-color: var(--ui-01, #fff);
}
.alert-close {
  background-color: transparent;
  background-image: url("../svgs/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
}
.success .alert-icon-background {
  background-color: var(--success-01-hex, #00b07d);
}
.success .alert-icon {
  -webkit-mask: url("../svgs/icon-check.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-check.svg") no-repeat 50% 50%;
}
.warning .alert-icon-background {
  background-color: var(--warning-01, #fdb100);
}
.warning .alert-icon {
  -webkit-mask: url("../svgs/icon-warning.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-warning.svg") no-repeat 50% 50%;
}
.error .alert-icon-background {
  background-color: var(--error-01, #ec4f07);
}
.error .alert-icon {
  -webkit-mask: url("../svgs/icon-error.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-error.svg") no-repeat 50% 50%;
}
.information .alert-icon-background {
  background-color: var(--information-01, #6f6bf8);
}
.information .alert-icon {
  -webkit-mask: url("../svgs/icon-information.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-information.svg") no-repeat 50% 50%;
}
.breadcrumbs ul {
  display: flex;
  padding: 11px 16px 9px 16px;
  list-style-type: none;
  margin: 0;
}
.breadcrumbs li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.breadcrumbs li::before {
  content: "/";
  padding-left: 16px;
  padding-right: 16px;
}
.breadcrumbs li:first-child::before {
  content: "";
  padding: 0;
}
.breadcrumbs a:hover {
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: var(--information-01, #6f6bf8);
}
.button {
  margin: 0;
  height: 40px;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  font-family: FranklinGothicMedium;
  text-align: center;
}
.button.small {
  height: 28px;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 16px;
}
.button:last-child {
  margin-right: 0;
}
.button:hover,
.button.hover {
  text-decoration: none;
}
.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button.primary {
  background-color: var(--brand-01, #00b07d);
  border: 1px solid var(--brand-01, #00b07d);
  color: var(--ui-01, #fff);
}
.button.primary:hover,
.button.primary.hover {
  background-color: var(--brand-02, #75e6c9);
  border: 1px solid var(--brand-02, #75e6c9);
  color: var(--ui-01, #fff);
}
.button.primary.disabled {
  background-color: var(--ui-05, #8ca59c);
  border: 1px solid var(--ui-05, #8ca59c);
}
.button.secondary {
  background-color: var(--ui-02, #f5faf8);
  border: 1px solid var(--ui-05, #8ca59c);
  color: var(--ui-05, #8ca59c);
}
.button.secondary:hover,
.button.secondary.hover {
  background-color: var(--brand-01, #00b07d);
  border: 1px solid var(--brand-01, #00b07d);
  color: var(--ui-01, #fff);
}
.button:focus,
.button:active,
.button.focus {
  outline: none;
  text-decoration: none;
}
.button:focus.primary,
.button:active.primary,
.button.focus.primary {
  border: 1px solid var(--brand-02, #75e6c9);
  box-shadow: inset 0 0 0 1px var(--ui-01, #fff);
  background-color: var(--brand-02, #75e6c9);
  color: var(--ui-01, #fff);
}
.button:focus.secondary,
.button:active.secondary,
.button.focus.secondary {
  border: 1px solid var(--brand-01, #00b07d);
  box-shadow: inset 0 0 0 1px var(--ui-01, #fff);
  background-color: var(--brand-01, #00b07d);
  color: var(--ui-01, #fff);
}
.checkbox-label-text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 7px;
  margin: 6px 0;
}
.checkmark.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.checkbox-container input:checked ~ .checkmark.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.checkbox-label-text {
  color: var(--text-01, #2b3836);
}
.checkmark {
  background-color: var(--ui-01, #fff);
  border: 1px solid var(--ui-04, #d6e2e0);
}
.checkmark:hover,
.checkmark.hover {
  background-color: var(--ui-01, #fff);
  border: 1px solid var(--ui-04, #d6e2e0);
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--brand-01, #00b07d);
  border: 1px solid var(--brand-01, #00b07d);
}
.checkbox-container input:checked ~ .checkmark.disabled {
  background-color: var(--ui-05, #8ca59c);
  border: 1px solid var(--ui-05, #8ca59c);
}
.checkbox-container input:checked ~ .checkmark:hover,
.checkbox-container input:checked ~ .checkmark.hover {
  background-color: var(--brand-01, #00b07d);
  border: 1px solid var(--brand-01, #00b07d);
}
.checkbox-container input[type="checkbox"]:focus + span,
.checkbox-container input[type="checkbox"].focus + span {
  outline: none;
  box-shadow: 0 0 0 2px var(--brand-02, #75e6c9);
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}
.dropdown-wrapper {
  display: inline-block;
  margin: 24px 0;
}
.dropdown-description {
  position: absolute;
  top: -32px;
}
.dropdown-trigger {
  position: relative;
  height: 40px;
  border-radius: 7px;
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
  text-align: left;
  padding: 0 48px 0 16px;
  cursor: pointer;
}
.dropdown-trigger.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.dropdown-trigger::after {
  position: absolute;
  top: 12px;
  right: 16px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.dropdown-trigger.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 7px;
  z-index: 1;
  margin: 8px 0;
  padding: 8px 0;
  list-style-type: none;
}
.dropdown-item * {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
  text-align: left;
}
.dropdown-trigger {
  background-color: var(--ui-01, #fff);
  border: 1px solid var(--ui-03, #f0f6f3);
  color: var(--ui-05, #8ca59c);
}
.dropdown-trigger::after {
  background-color: var(--brand-01, #00b07d);
}
.dropdown-trigger:hover,
.dropdown-trigger.hover {
  border: 2px solid var(--ui-03, #f0f6f3);
}
.dropdown-trigger:focus,
.dropdown-trigger.focus {
  outline: none;
  border: 1px solid var(--brand-02, #75e6c9);
  color: var(--text-01, #2b3836);
}
.dropdown-menu {
  background-color: var(--ui-01, #fff);
  border: solid 1px var(--ui-04, #d6e2e0);
  box-shadow: 0 3px 6px 0 var(--ui-04, #d6e2e0);
}
.dropdown-item *:focus,
.dropdown-item *.focus,
.dropdown-item *:active,
.dropdown-item *.active {
  outline: none;
  color: var(--ui-01, #fff);
  background-color: var(--brand-01, #00b07d);
}
.dropdown-item *:hover,
.dropdown-item *.hover {
  color: var(--ui-01, #fff);
}
.dropdown-item:hover,
.dropdown-item.hover {
  background-color: var(--brand-01, #00b07d);
  color: var(--ui-01, #fff);
}
.icon,
.icon-info {
  display: inline-block;
  width: 24px;
  height: 16px;
  cursor: pointer;
  flex: 0 0 auto;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
}
.icon {
  background-color: var(--brand-01, #00b07d);
}
.icon-info {
  background-color: var(--information-01, #6f6bf8);
}
.icon,
.icon-info {
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
}
.icon-down-arrow {
  height: 12px;
  -webkit-mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
}
.icon-up-arrow {
  -webkit-mask: url("../svgs/icon-up.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-up.svg") no-repeat 50% 50%;
}
.icon-back {
  -webkit-mask: url("../svgs/icon-back.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-back.svg") no-repeat 50% 50%;
}
.icon-forward {
  -webkit-mask: url("../svgs/icon-forward.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-forward.svg") no-repeat 50% 50%;
}
.icon-drag {
  -webkit-mask: url("../svgs/icon-drag.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-drag.svg") no-repeat 50% 50%;
}
.icon-plus {
  background-color: var(--brand-01, #00b07d);
  -webkit-mask: url("../svgs/icon-plus.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-plus.svg") no-repeat 50% 50%;
}
.icon-plus:hover {
  background-color: var(--brand-02, #75e6c9);
}
.icon-plus:focus {
  background-color: var(--brand-02, #75e6c9);
}
.icon-close {
  -webkit-mask: url("../svgs/icon-close.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-close.svg") no-repeat 50% 50%;
}
.icon-more {
  -webkit-mask: url("../svgs/icon-more.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-more.svg") no-repeat 50% 50%;
}
.loading {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  -webkit-animation: blink 3s infinite;
          animation: blink 3s infinite;
}
.load-error {
  position: relative;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  max-height: 90%;
  padding: 40px;
  z-index: 1001;
  border-radius: 3px;
}
.modal-buttons {
  display: flex;
  justify-content: flex-end;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1000;
}
.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
}
.modal {
  border: solid 1px var(--ui-04, #d6e2e0);
  background-color: var(--ui-01, #fff);
  box-shadow: 0 3px 6px 0 var(--ui-04, #d6e2e0);
}
.modal-overlay {
  background-color: var(--ui-05, #8ca59c);
}
.modal-close {
  background-color: transparent;
  background-image: url("../svgs/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
}
.modal-close:focus {
  outline: none;
  border: 1px solid var(--brand-02, #75e6c9);
}
.progress-dots {
  display: flex;
}
.progress-dot-container {
  position: relative;
  margin-right: 8px;
}
.progress-dot-container input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.progress-dot {
  display: block;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.progress-dot:hover {
  cursor: pointer;
}
.progress-dot {
  background-color: var(--ui-04, #d6e2e0);
}
.progress-dot:hover {
  background-color: var(--brand-02, #75e6c9);
}
.progress-dot-container input:checked ~ .progress-dot {
  background-color: var(--brand-01, #00b07d);
}
.progress-dot-container input:focus ~ .progress-dot {
  background-color: var(--brand-02, #75e6c9);
}
.radio-label-text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
}
.radio-button-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.radio-check:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-button-container input:checked ~ .radio-check:after {
  display: block;
}
.radio-button-container .radio-check:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.radio-label-text {
  color: var(--text-01, #2b3836);
}
.radio-check {
  background-color: var(--ui-01, #fff);
  border: 1px solid var(--ui-04, #d6e2e0);
}
.radio-check:hover,
.radio-check.hover {
  background-color: var(--ui-01, #fff);
  border: 1px solid var(--ui-04, #d6e2e0);
}
.radio-button-container input:checked ~ .radio-check {
  background-color: var(--ui-01, #fff);
  border: 1px solid var(--brand-01, #00b07d);
}
.radio-button-container input:checked ~ .radio-check.disabled {
  border: 1px solid var(--ui-05, #8ca59c);
}
.radio-button-container .radio-check:after {
  background-color: var(--brand-01, #00b07d);
}
.radio-button-container .radio-check.disabled:after {
  background-color: var(--ui-05, #8ca59c);
}
.radio-button-container input[type="radio"]:focus + span,
.radio-button-container input[type="radio"].focus + span {
  outline: none;
  box-shadow: 0 0 0 2px var(--brand-02, #75e6c9);
}
.sortable-list {
  background: transparent;
  max-width: 320px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sortable-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.sortable-list-section {
  width: 100%;
}
.sortable-list-section > .sortable-list-draggable {
  font-family: FranklinGothicMedium;
}
.sortable-list-draggable {
  padding-top: 6px;
  padding-left: 32px;
  padding-right: 48px;
  flex: 1;
  justify-content: space-between;
}
.sortable-list-drag-icon {
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 24px;
  cursor: move;
}
.sortable-list-item.dragging {
  background-color: var(--brand-02, #75e6c9);
}
.sortable-list-item.dragover {
  background-color: var(--ui-04, #d6e2e0);
}
.sortable-list-section > .sortable-list-draggable {
  background-color: var(--ui-04, #d6e2e0);
}
.sortable-list-drag-icon {
  background-color: var(--ui-05, #8ca59c);
}
.table {
  margin: 12px 16px;
  border-collapse: collapse;
}
.table-header-row {
  height: 56px;
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
}
.table-row {
  height: 48px;
  font-size: 16px;
  font-family: FranklinGothicNormal;
  line-height: 20px;
}
.table-row:hover {
  cursor: pointer;
}
.table-header-cell,
.table-cell {
  padding: 0 28px;
  border: none;
  text-align: left;
}
.table-header-cell:first-child,
.table-cell:first-child {
  padding-left: 24px;
}
.table-header-cell:last-child,
.table-cell:last-child {
  padding-right: 24px;
}
.table-cell {
  text-align: left;
}
.table-cell.numeric {
  text-align: right;
}
.table {
  color: var(--text-01, #2b3836);
  border: 1px solid var(--ui-04, #d6e2e0);
}
.table-header-row {
  background-color: var(--ui-04, #d6e2e0);
}
.table-row {
  background-color: var(--ui-02, #f5faf8);
  border-top: 1px solid var(--ui-04, #d6e2e0);
}
.table-row:hover {
  background-color: var(--ui-04, #d6e2e0);
  border: 1px solid var(--brand-01, #00b07d);
}
.horizontal-tabs {
  display: inline-flex;
  height: 40px;
  min-height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.horizontal-tabs label {
  position: relative;
  margin-right: 32px;
  cursor: pointer;
}
.horizontal-tabs label input[type="radio"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.vertical-tabs {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px 32px;
}
.vertical-tabs label {
  position: relative;
  cursor: pointer;
}
.vertical-tabs label input[type="radio"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.tab-title {
  display: block;
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
  text-align: left;
  height: 40px;
  padding-top: 10px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid transparent;
}
.tab-title:hover {
  cursor: pointer;
}
.horizontal-tabs.disabled,
.vertical-tabs.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.horizontal-tabs,
.vertical-tabs {
  background-color: transparent;
}
.tab-title {
  color: var(--text-02, #686f6d);
}
.tab-title:focus {
  outline: none;
  color: var(--text-02, #686f6d);
  background-color: transparent;
  border-bottom: 4px solid var(--brand-02, #75e6c9);
}
.tab-title:hover {
  border-bottom: 4px solid var(--ui-04, #d6e2e0);
}
.tab-title.active {
  color: var(--text-01, #2b3836);
  border-bottom: 4px solid var(--brand-01, #00b07d);
}
.horizontal-tabs > label input[type="radio"]:checked ~ .tab-title {
  color: var(--text-01, #2b3836);
  border-bottom: 4px solid var(--brand-01, #00b07d);
}
.horizontal-tabs > label input[type="radio"]:focus + .tab-title {
  border-bottom: 4px solid var(--brand-02, #75e6c9);
}
.vertical-tabs > label input[type="radio"]:checked ~ .tab-title {
  color: var(--text-01, #2b3836);
  border-bottom: 4px solid var(--brand-01, #00b07d);
}
.vertical-tabs > label input[type="radio"]:focus + .tab-title {
  border-bottom: 4px solid var(--brand-02, #75e6c9);
}
.horizontal-tabs.disabled .tab-title,
.vertical-tabs.disabled .tab-title {
  color: var(--text-02, #686f6d);
  border: none;
}
.text-field {
  display: inline-flex;
  flex-direction: column;
}
.text-field label {
  font-size: 16px;
  line-height: 20px;
}
.text-field input[type="text"] {
  width: 300px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 3px;
  padding: 11px 16px 9px 16px;
}
.text-field-container {
  position: relative;
}
.text-field-prefix,
.text-field-suffix {
  font-size: 16px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 9px;
}
.text-field-prefix {
  position: absolute;
  left: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.text-field-prefix ~ input[type="text"] {
  padding-left: 40px;
}
.text-field-suffix {
  position: absolute;
  right: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.text-field-suffix ~ input[type="text"] {
  padding-right: 40px;
}
.invalid-label-message {
  font-size: 12px;
  line-height: 18px;
}
.text-field label {
  color: var(--text-01, #2b3836);
}
.text-field input[type="text"] {
  background-color: var(--ui-01, #fff);
  border: 1px solid var(--ui-03, #f0f6f3);
}
.text-field input[type="text"].invalid {
  border: 1px solid var(--error-01, #ec4f07);
}
.text-field input[type="text"]:hover,
.text-field input[type="text"].hover {
  border: 1px solid var(--ui-03, #f0f6f3);
  box-shadow: 0 0 0 1px var(--ui-03, #f0f6f3);
}
.text-field input[type="text"]:focus,
.text-field input[type="text"].focus {
  outline: none;
  border: 1px solid var(--brand-02, #75e6c9);
}
.text-field input[type="text"].disabled {
  opacity: 0.5;
  pointer-events: none;
}
.text-field-prefix,
.text-field-suffix {
  color: var(--text-01, #2b3836);
}
.invalid-label-marker {
  color: var(--error-01, #ec4f07);
}
.invalid-label-message {
  color: var(--text-02, #686f6d);
}
.toggle {
  display: inline-flex;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  margin: 12px 16px;
}
.toggle.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.toggle-container {
  position: relative;
}
.toggle-container input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.toggle-button-text {
  padding: 10px 30px;
  cursor: pointer;
}
.toggle-container:first-of-type .toggle-button-text {
  border-radius: 3px 0 0 3px;
  border-right: none;
}
.toggle-container:last-of-type .toggle-button-text {
  border-radius: 0 3px 3px 0;
  border-left: none;
}
.toggle-button-text {
  border: 1px solid var(--ui-05, #8ca59c);
  background-color: var(--ui-01, #fff);
}
.toggle-button-text:hover {
  background-color: var(--brand-02, #75e6c9);
  color: var(--ui-01, #fff);
}
.toggle-container input:checked ~ .toggle-button-text {
  border: 1px solid var(--brand-01, #00b07d);
  background-color: var(--brand-01, #00b07d);
  color: var(--ui-01, #fff);
}
.toggle-container input:focus ~ .toggle-button-text {
  background-color: var(--brand-02, #75e6c9);
  color: var(--ui-01, #fff);
}
.l-root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.l-header {
  width: 100%;
  z-index: 500;
  display: flex;
}
.l-page {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.l-scrollable-content {
  position: relative;
  width: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}
.l-scrollable-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.l-container {
  margin: 50px;
  padding: 50px;
  position: relative;
  overflow-y: auto;
  display: flex;
}
.l-container-full {
  position: relative;
  display: flex;
}
.l-container-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-half-screen {
  width: 50%;
  flex: 0 1 50%;
}
.l-full-screen {
  flex: 0 1 100%;
  height: 100%;
}
.l-flex-vertical {
  display: flex;
  flex-direction: column;
}
.l-flex-horizontal {
  display: flex;
  flex-direction: row;
}
.l-flex-wrap {
  flex-wrap: wrap;
}
.l-flex-position-right {
  justify-content: flex-end;
}
.l-flex-position-left {
  justify-content: flex-start;
}
.l-float-top-left {
  position: absolute;
  top: 40px;
  left: 5%;
}
.l-float-top-center {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.l-float-top-right {
  position: absolute;
  top: 40px;
  right: 5%;
}
.l-float-bottom-left {
  position: absolute;
  bottom: 24px;
  left: 5%;
}
.l-float-bottom-center {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.l-float-bottom-right {
  position: absolute;
  bottom: 24px;
  right: 5%;
}
.l-left-panel {
  width: 320px;
  height: 100%;
  flex: 0 0 320px;
}
.l-right-panel {
  width: 320px;
  height: 100%;
  flex: 0 0 320px;
}
.header {
  padding: 0 5%;
  flex: 0 0 auto;
}
.header ul {
  list-style-type: none;
  padding: 0;
}
.header ul li {
  display: inline;
  margin-right: 40px;
}
.cbre {
  display: inline;
  height: 24px;
  padding: 2px 35px;
  -webkit-mask: url("../svgs/cbre.svg") no-repeat;
          mask: url("../svgs/cbre.svg") no-repeat;
}
.blocks-title {
  font-size: 36px;
  line-height: 25px;
  font-family: FranklinGothicBold;
  margin-left: 16px;
  position: relative;
  top: 4px;
}
.blocks-heading {
  margin-bottom: 70px;
}
.design-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.design-page-content {
  overflow-y: auto;
  padding: 0 5%;
}
.design-page-section {
  margin-top: 32px;
}
.design-page-container {
  width: 100%;
}
.snippet-container {
  overflow: hidden;
  border-radius: 7px;
  margin: 16px 0;
}
.snippet-container > div {
  padding: 12px 16px;
  border-radius: 7px;
  overflow-x: auto;
}
.snippet-container .highlight {
  margin: 0;
}
.snippet-container button,
.snippet-container a {
  display: table;
  margin: 12px 16px;
}
.left-nav-panel {
  width: 400px;
  height: 100%;
  overflow-y: auto;
  padding: 32px 32px;
}
.left-nav-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.left-nav-panel ul li {
  margin: 16px 0;
}
.left-nav-panel ul li .active {
  font-family: FranklinGothicBold;
}
.doc-section {
  margin-bottom: 40px;
}
.doc-section > div {
  margin: 40px 0 16px 0;
}
.doc-definition-title {
  font-family: FranklinGothicMedium;
  flex: 0 0 150px;
}
.doc-definition-value {
  flex: 1;
}
.doc-state-title {
  flex: 0 0 150px;
}
.doc-state-content {
  flex: 0 0 250px;
}
.doc-state-title,
.doc-state-content {
  margin-bottom: 40px;
}
.color-card {
  display: inline-block;
  width: 128px;
  margin: 0 32px 32px 0;
}
.color-card .color-card-background {
  width: 100%;
  height: 80px;
  display: table;
}
.color-card .color-card-title {
  width: 100%;
  height: 32px;
  display: table;
}
.color-card .color-card-name,
.color-card .color-card-value {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cbre {
  background-color: var(--brand-01, #00b07d);
}
.blocks-title {
  color: var(--brand-01, #00b07d);
}
.snippet-container {
  border: 2px solid var(--ui-04, #d6e2e0);
}
.snippet-container > div:last-child {
  background-color: var(--ui-02, #f5faf8);
}
.left-nav-panel {
  background-color: var(--ui-03, #f0f6f3);
  box-shadow: 2px 0 3px 0 rgba(43,56,54,0.15);
}
.left-nav-panel .category-title {
  padding: 16px 0;
  border-bottom: 2px solid var(--ui-04, #d6e2e0);
}
.doc-section {
  border-bottom: solid 1px var(--ui-04, #d6e2e0);
}
.color-card .color-card-title {
  border: 1px solid var(--text-02, #686f6d);
  color: var(--text-02, #686f6d);
}
.color-card .color-card-value {
  color: var(--text-02, #686f6d);
}
