/* minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
* {
  box-sizing: border-box;
}
img,
embed,
object,
audio,
video {
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
@font-face {
  font-family: 'Graphik Web';
  src: url("../fonts/Graphik-Bold-Web.eot");
  src: url("../fonts/Graphik-Bold-Web.eot?#iefix") format('embedded-opentype'), url("../fonts/Graphik-Bold-Web.woff2") format('woff2'), url("../fonts/Graphik-Bold-Web.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
.Graphik-Bold-Web {
  font-family: 'Graphik Web';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Graphik Web';
  src: url("../fonts/Graphik-Medium-Web.eot");
  src: url("../fonts/Graphik-Medium-Web.eot?#iefix") format('embedded-opentype'), url("../fonts/Graphik-Medium-Web.woff2") format('woff2'), url("../fonts/Graphik-Medium-Web.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
.Graphik-Medium-Web {
  font-family: 'Graphik Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Graphik Web';
  src: url("../fonts/Graphik-RegularItalic-Web.eot");
  src: url("../fonts/Graphik-RegularItalic-Web.eot?#iefix") format('embedded-opentype'), url("../fonts/Graphik-RegularItalic-Web.woff2") format('woff2'), url("../fonts/Graphik-RegularItalic-Web.woff") format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
.Graphik-RegularItalic-Web {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Graphik Web';
  src: url("../fonts/Graphik-Regular-Web.eot");
  src: url("../fonts/Graphik-Regular-Web.eot?#iefix") format('embedded-opentype'), url("../fonts/Graphik-Regular-Web.woff2") format('woff2'), url("../fonts/Graphik-Regular-Web.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
.Graphik-Regular-Web {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Graphik Web';
  src: url("../fonts/Graphik-Light-Web.eot");
  src: url("../fonts/Graphik-Light-Web.eot?#iefix") format('embedded-opentype'), url("../fonts/Graphik-Light-Web.woff2") format('woff2'), url("../fonts/Graphik-Light-Web.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
.Graphik-Light-Web {
  font-family: 'Graphik Web';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
:root {
  --interactive: #009f6f;
  --interactive-hover: #008b61;
  --interactive-shadow: rgba(0,72,51,0.25);
  --interactive-shadow-hover: rgba(0,72,51,0.35);
  --brand-01: #00b07d;
  --ui-00: #fff;
  --ui-01: #f6f8f8;
  --ui-02: #f5faf8;
  --ui-03: #edf0ee;
  --ui-04: #d9e1e0;
  --ui-05: #bdc7c3;
  --ui-06: #aab7b2;
  --ui-07: #91a49e;
  --text-01: #2b3836;
  --text-02: #7c8c88;
  --success: #39cf94;
  --information: #6f6bf8;
  --warning: #fdb100;
  --error: #ec4f07;
  --selection: #49a1ff;
}
html,
body {
  font-family: Graphik Web;
  font-weight: 400;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
label {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
a {
  font-size: 16px;
  line-height: 20px;
  color: #009f6f;
  color: var(--interactive, #009f6f);
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: left;
}
.blx-link {
  font-size: 16px;
  line-height: 20px;
  color: #009f6f;
  color: var(--interactive, #009f6f);
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: left;
}
a:hover {
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
.blx-link:hover {
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
a.blx-hover {
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
.blx-link.blx-hover {
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
a:focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
}
.blx-link:focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
}
a.blx-focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
}
.blx-link.blx-focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
}
a.blx-disabled,
.blx-link.blx-disabled {
  opacity: 0.5;
  pointer-events: none;
}
h1 {
  font-weight: 500;
  color: #2b3836;
  color: var(--text-01, #2b3836);
  font-size: 96px;
  line-height: 123px;
}
h2 {
  font-weight: 500;
  color: #2b3836;
  color: var(--text-01, #2b3836);
  font-size: 60px;
  line-height: 77px;
}
h3 {
  font-weight: 500;
  color: #2b3836;
  color: var(--text-01, #2b3836);
  font-size: 48px;
  line-height: 67px;
}
h4 {
  font-weight: 500;
  color: #2b3836;
  color: var(--text-01, #2b3836);
  font-size: 34px;
  line-height: 43px;
}
h5 {
  font-weight: 500;
  color: #2b3836;
  color: var(--text-01, #2b3836);
  font-size: 24px;
  line-height: 31px;
}
h6 {
  font-weight: 500;
  color: #2b3836;
  color: var(--text-01, #2b3836);
  font-size: 20px;
  line-height: 26px;
}
.blx-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-subtitle.dark-bg {
  background-color: #2b3836;
  background-color: var(--text-01, #2b3836);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-subtitle-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-ui-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-body-caps {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-overline {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.blx-capitalize {
  text-transform: uppercase;
}
.blx-interactive {
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-inactive {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.blx-success {
  color: #39cf94;
  color: var(--success-hex, #39cf94);
}
.blx-warning {
  color: #fdb100;
  color: var(--warning, #fdb100);
}
.blx-error {
  color: #ec4f07;
  color: var(--error, #ec4f07);
}
.blx-information {
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
}
.blx-accordion-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.blx-accordion-section input[type=checkbox][name='blx-accordion-tab'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.blx-accordion-section input[type=checkbox][name='blx-accordion-tab']:checked + label::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.blx-accordion-section .blx-accordion-trigger {
  position: relative;
  display: block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.blx-accordion-section .blx-accordion-trigger > p {
  font-weight: 500;
}
.blx-accordion-section .blx-accordion-trigger::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 12px 16px;
  transition: all 0.25s;
  content: "";
  background-image: url("../svgs/icon-forward.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.blx-accordion-section .blx-accordion-trigger > * {
  margin: 0 0 0 32px;
}
.blx-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
  background-color: #edf0ee;
  background-color: var(--ui-03, #edf0ee);
}
.blx-accordion-content .blx-accordion-trigger {
  background-color: transparent;
}
.blx-alert {
  min-width: 392px;
  max-width: 762px;
  width: 90%;
  min-height: 80px;
  max-height: 222px;
  display: flex;
  padding: 16px;
  margin: 12px 0;
  border-top: 3px solid;
  border-radius: 0 0 3px 3px;
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  box-shadow: 0 3px 6px 1px #d9e1e0;
  box-shadow: 0 3px 6px 1px var(--ui-04, #d9e1e0);
}
.blx-alert .blx-icon-close {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
}
.blx-alert .blx-icon-close:hover {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
}
.blx-alert .blx-icon-close:focus {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.blx-alerts-container {
  postion: absolute;
  top: 0;
  left: 0;
}
.blx-alert-icon-container {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex: 0 0 auto;
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.blx-alert-icon,
.blx-alert-icon-background {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
}
.blx-alert-icon {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
}
.blx-alert-icon-background {
  border-radius: 50%;
}
.blx-alert-text {
  padding: 0 16px;
  flex: 1 1 auto;
}
.blx-success .blx-alert-icon-background {
  background-color: #39cf94;
  background-color: var(--success-hex, #39cf94);
}
.blx-success .blx-alert-icon {
  -webkit-mask: url("../svgs/icon-check.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-check.svg") no-repeat 50% 50%;
}
.blx-warning .blx-alert-icon-background {
  background-color: #fdb100;
  background-color: var(--warning, #fdb100);
}
.blx-warning .blx-alert-icon {
  -webkit-mask: url("../svgs/icon-warning.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-warning.svg") no-repeat 50% 50%;
}
.blx-error .blx-alert-icon-background {
  background-color: #ec4f07;
  background-color: var(--error, #ec4f07);
}
.blx-error .blx-alert-icon {
  -webkit-mask: url("../svgs/icon-error.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-error.svg") no-repeat 50% 50%;
}
.blx-information .blx-alert-icon-background {
  background-color: #6f6bf8;
  background-color: var(--information, #6f6bf8);
}
.blx-information .blx-alert-icon {
  -webkit-mask: url("../svgs/icon-information.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-information.svg") no-repeat 50% 50%;
}
.blx-breadcrumbs ul {
  display: flex;
  padding: 11px 16px 9px 16px;
  list-style-type: none;
  margin: 0;
}
.blx-breadcrumbs li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.blx-breadcrumbs li::before {
  content: "/";
  padding-left: 16px;
  padding-right: 16px;
}
.blx-breadcrumbs li:first-child::before {
  content: "";
  padding: 0;
}
.blx-breadcrumbs a:hover {
  text-decoration: none;
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
}
.blx-button {
  display: inline-block;
  position: relative;
  height: 44px;
  max-width: 480px;
  min-width: 64px;
  padding: 7px 18px 9px 18px;
  text-decoration: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 0 1px 3px 0 rgba(0,72,51,0.25);
  box-shadow: 0 1px 3px 0 var(--interactive-shadow, rgba(0,72,51,0.25));
}
.blx-button .blx-icon {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}
.blx-button .blx-icon:first-child {
  left: -8px;
}
.blx-button .blx-icon:last-child {
  right: -8px;
}
.blx-button:hover {
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(0,72,51,0.35);
  box-shadow: 0 1px 3px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-button.blx-hover {
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(0,72,51,0.35);
  box-shadow: 0 1px 3px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-button.blx-primary {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
  border: 2px solid #009f6f;
  border: 2px solid var(--interactive, #009f6f);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-button.blx-primary .blx-icon {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
}
.blx-button.blx-primary:hover {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  border: 2px solid #008b61;
  border: 2px solid var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-button.blx-primary.blx-hover {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  border: 2px solid #008b61;
  border: 2px solid var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-button.blx-secondary {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 2px solid #fff;
  border: 2px solid var(--ui-00, #fff);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-button.blx-secondary .blx-icon {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
}
.blx-button.blx-secondary:hover {
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  border: 2px solid #f5faf8;
  border: 2px solid var(--ui-02, #f5faf8);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-button.blx-secondary.blx-hover {
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  border: 2px solid #f5faf8;
  border: 2px solid var(--ui-02, #f5faf8);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-button:focus {
  outline: none;
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(0,72,51,0.35);
  box-shadow: 0 1px 3px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-button:active {
  outline: none;
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(0,72,51,0.35);
  box-shadow: 0 1px 3px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-button.blx-focus {
  outline: none;
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(0,72,51,0.35);
  box-shadow: 0 1px 3px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-button:focus.blx-primary {
  border: 2px solid #49a1ff;
  border: 2px solid var(--selection, #49a1ff);
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-button:active.blx-primary {
  border: 2px solid #49a1ff;
  border: 2px solid var(--selection, #49a1ff);
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-button.blx-focus.blx-primary {
  border: 2px solid #49a1ff;
  border: 2px solid var(--selection, #49a1ff);
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-button:focus.blx-primary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #fff;
  border: 1px solid var(--ui-00, #fff);
}
.blx-button:active.blx-primary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #fff;
  border: 1px solid var(--ui-00, #fff);
}
.blx-button.blx-focus.blx-primary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #fff;
  border: 1px solid var(--ui-00, #fff);
}
.blx-button:focus.blx-secondary {
  border: 2px solid #49a1ff;
  border: 2px solid var(--selection, #49a1ff);
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-button:active.blx-secondary {
  border: 2px solid #49a1ff;
  border: 2px solid var(--selection, #49a1ff);
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-button.blx-focus.blx-secondary {
  border: 2px solid #49a1ff;
  border: 2px solid var(--selection, #49a1ff);
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
a.blx-button {
  display: inline-flex;
  align-items: center;
}
.blx-button-group .blx-button {
  margin-right: 10px;
  margin-bottom: 12px;
}
.blx-button-group .blx-button:last-child {
  margin-right: 0;
}
.blx-h-button-group {
  display: flex;
  flex-direction: row;
}
.blx-h-button-group .blx-button {
  margin-left: 0;
  margin-right: 10px;
}
.blx-h-button-group .blx-button:first-child {
  margin-left: 20px;
}
.blx-h-button-group .blx-button:last-child {
  margin-right: 20px;
}
.blx-v-button-group {
  display: flex;
  flex-direction: column;
}
.blx-v-button-group .blx-button {
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
}
.blx-v-button-group .blx-button:first-child {
  margin-top: 24px;
}
.blx-v-button-group .blx-button:last-child {
  margin-bottom: 24px;
}
.blx-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 9px 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
/* Create a custom checkbox */
/* Hide the browser's default checkbox */
}
.blx-checkbox .blx-label {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-checkbox .blx-checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 7px;
  margin: 3px 0;
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
/* Create the checkmark/indicator (hidden when not checked) */
}
.blx-checkbox .blx-checkmark::after {
  display: none;
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.blx-checkbox:hover .blx-checkmark {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-checkbox.blx-hover .blx-checkmark {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
/* When the checkbox is checked */
}
.blx-checkbox input[type="checkbox"]:checked ~ .blx-checkmark {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
/* Show the checkmark when checked */
}
.blx-checkbox input[type="checkbox"]:checked ~ .blx-checkmark:hover {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
  border: 1px solid #009f6f;
  border: 1px solid var(--interactive, #009f6f);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-checkbox input[type="checkbox"]:checked ~ .blx-checkmark.blx-hover {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
  border: 1px solid #009f6f;
  border: 1px solid var(--interactive, #009f6f);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-checkbox input[type="checkbox"]:checked ~ .blx-checkmark::after {
  display: block;
}
.blx-checkbox input[type="checkbox"]:checked:focus + .blx-checkmark {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
}
.blx-checkbox input[type="checkbox"]:checked.blx-focus + .blx-checkmark {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
}
.blx-checkbox input[type="checkbox"]:checked:focus + .blx-checkmark::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
}
.blx-checkbox input[type="checkbox"]:checked.blx-focus + .blx-checkmark::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
}
.blx-checkbox input[type="checkbox"]:focus + .blx-checkmark {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-checkbox input[type="checkbox"].blx-focus + .blx-checkmark {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-checkbox.blx-disabled {
  box-shadow: none;
  cursor: pointer;
}
.blx-dropdown-wrapper {
  display: inline-flex;
}
.blx-dropdown-wrapper + .blx-dropdown-wrapper {
  margin-top: 30px;
}
.blx-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 300px;
}
.blx-dropdown .blx-dropdown-trigger {
  position: relative;
  height: 40px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  padding: 0 48px 0 16px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
  color: #2b3836;
  color: var(--text-01, #2b3836);
  display: flex;
}
.blx-dropdown .blx-dropdown-trigger .blx-icon {
  margin: 12px 10px 12px 0;
  background-color: #91a49e;
  background-color: var(--ui-07, #91a49e);
}
.blx-dropdown .blx-dropdown-trigger .blx-icon:hover {
  background-color: #91a49e;
  background-color: var(--ui-07, #91a49e);
}
.blx-dropdown .blx-dropdown-trigger .blx-icon + span {
  margin: 10px 0;
}
.blx-dropdown .blx-dropdown-trigger.blx-dropdown-trigger-placeholder {
  color: #91a49e;
  color: var(--ui-07, #91a49e);
}
.blx-dropdown .blx-dropdown-trigger.blx-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.blx-dropdown .blx-dropdown-trigger::after {
  position: absolute;
  top: 10px;
  right: 16px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blx-dropdown .blx-dropdown-trigger.blx-active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.blx-dropdown .blx-dropdown-trigger:hover {
  margin: 0 -1px;
  border: 2px solid #edf0ee;
  border: 2px solid var(--ui-03, #edf0ee);
}
.blx-dropdown .blx-dropdown-trigger.blx-hover {
  margin: 0 -1px;
  border: 2px solid #edf0ee;
  border: 2px solid var(--ui-03, #edf0ee);
}
.blx-dropdown .blx-dropdown-trigger:hover::after,
.blx-dropdown .blx-dropdown-trigger.blx-hover::after {
  top: 9px;
}
.blx-dropdown .blx-dropdown-trigger:hover .blx-icon,
.blx-dropdown .blx-dropdown-trigger.blx-hover .blx-icon {
  margin-top: 11px;
}
.blx-dropdown .blx-dropdown-trigger:hover .blx-icon + span,
.blx-dropdown .blx-dropdown-trigger.blx-hover .blx-icon + span {
  margin-top: 9px;
}
.blx-dropdown .blx-dropdown-trigger:focus {
  margin: 0;
  outline: none;
  border: 1px solid #39cf94;
  border: 1px solid var(--success-hex, #39cf94);
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-dropdown .blx-dropdown-trigger.blx-focus {
  margin: 0;
  outline: none;
  border: 1px solid #39cf94;
  border: 1px solid var(--success-hex, #39cf94);
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-dropdown .blx-dropdown-trigger:focus::after,
.blx-dropdown .blx-dropdown-trigger.blx-focus::after {
  top: 10px;
}
.blx-dropdown .blx-dropdown-trigger:focus .blx-icon,
.blx-dropdown .blx-dropdown-trigger.blx-focus .blx-icon {
  margin-top: 12px;
}
.blx-dropdown .blx-dropdown-trigger:focus .blx-icon + span,
.blx-dropdown .blx-dropdown-trigger.blx-focus .blx-icon + span {
  margin-top: 10px;
}
.blx-dropdown .blx-dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 7px;
  z-index: 1;
  margin: 8px 0;
  padding: 8px 0;
  list-style-type: none;
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: solid 1px #d9e1e0;
  border: solid 1px var(--ui-04, #d9e1e0);
  box-shadow: 0 3px 6px 0 rgba(0,72,51,0.25);
  box-shadow: 0 3px 6px 0 var(--interactive-shadow, rgba(0,72,51,0.25));
}
.blx-dropdown .blx-dropdown-item {
  background: transparent;
}
.blx-dropdown .blx-dropdown-item > * {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-dropdown .blx-dropdown-item > *:hover,
.blx-dropdown .blx-dropdown-item > *.blx-hover {
  text-decoration: none;
}
.blx-dropdown .blx-dropdown-item > *:focus {
  outline: none;
  color: #fff;
  color: var(--ui-00, #fff);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blx-dropdown .blx-dropdown-item > *.blx-focus {
  outline: none;
  color: #fff;
  color: var(--ui-00, #fff);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blx-dropdown .blx-dropdown-item > *:active {
  outline: none;
  color: #fff;
  color: var(--ui-00, #fff);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blx-dropdown .blx-dropdown-item > *.blx-active {
  outline: none;
  color: #fff;
  color: var(--ui-00, #fff);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blx-dropdown .blx-dropdown-item:hover {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-dropdown .blx-dropdown-item.blx-hover {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-dropdown .blx-dropdown-item:hover * {
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-dropdown .blx-dropdown-item.blx-hover * {
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-dropdown .blx-dropdown-item:hover .blx-icon {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
}
.blx-dropdown .blx-dropdown-item.blx-hover .blx-icon {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
}
.blx-popover-text {
  margin-right: 16px;
}
.blx-popover-trigger {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  width: 25px;
  height: 24px;
}
.blx-popover-trigger .blx-icon {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
}
.blx-popover-trigger:hover .blx-icon {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
}
.blx-popover-trigger.blx-hover .blx-icon {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
}
.blx-popover-trigger:focus .blx-icon {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.blx-popover-trigger.blx-focus .blx-icon {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.blx-popover {
  min-width: auto;
}
.blx-popover .blx-dropdown-menu {
  min-width: 150px;
}
.blx-popover .blx-dropdown-menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d9e1e0;
  border-bottom: 10px solid var(--ui-04, #d9e1e0);
}
.blx-popover .blx-dropdown-menu::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
  border-bottom: 9px solid var(--ui-00, #fff);
}
.blx-popover .blx-dropdown-menu.blx-popover-is-left {
  left: -50%;
}
.blx-popover .blx-dropdown-menu.blx-popover-is-left::before {
  left: 15px;
}
.blx-popover .blx-dropdown-menu.blx-popover-is-left::after {
  left: 16px;
}
.blx-popover .blx-dropdown-menu.blx-popover-is-right {
  right: -50%;
}
.blx-popover .blx-dropdown-menu.blx-popover-is-right::before {
  right: 15px;
}
.blx-popover .blx-dropdown-menu.blx-popover-is-right::after {
  right: 16px;
}
.blx-icon {
  display: inline-block;
  width: 24px;
  height: 16px;
  cursor: pointer;
  flex: 0 0 auto;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blx-icon-information {
  background-color: #6f6bf8;
  background-color: var(--information, #6f6bf8);
  -webkit-mask: url("../svgs/icon-information.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-information.svg") no-repeat 50% 50%;
}
.blx-icon-down {
  height: 12px;
  -webkit-mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
}
.blx-icon-up {
  -webkit-mask: url("../svgs/icon-up.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-up.svg") no-repeat 50% 50%;
}
.blx-icon-back {
  -webkit-mask: url("../svgs/icon-back.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-back.svg") no-repeat 50% 50%;
}
.blx-icon-forward {
  -webkit-mask: url("../svgs/icon-forward.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-forward.svg") no-repeat 50% 50%;
}
.blx-icon-drag {
  -webkit-mask: url("../svgs/icon-drag.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-drag.svg") no-repeat 50% 50%;
}
.blx-icon-plus {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  -webkit-mask: url("../svgs/icon-plus.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-plus.svg") no-repeat 50% 50%;
}
.blx-icon-plus:hover {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.blx-icon-plus:focus {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.blx-icon-close {
  -webkit-mask: url("../svgs/icon-close.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-close.svg") no-repeat 50% 50%;
}
.blx-icon-more-horizontal {
  -webkit-mask: url("../svgs/icon-more-horizontal.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-more-horizontal.svg") no-repeat 50% 50%;
}
.blx-icon-more-vertical {
  height: 20px;
  -webkit-mask: url("../svgs/icon-more-vertical.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-more-vertical.svg") no-repeat 50% 50%;
}
.loading {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  -webkit-animation: blink 3s infinite;
          animation: blink 3s infinite;
}
.load-error {
  position: relative;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blx-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  max-height: 90%;
  padding: 24px 40px 32px 40px;
  z-index: 1001;
  border-radius: 3px;
  border: solid 1px #d9e1e0;
  border: solid 1px var(--ui-04, #d9e1e0);
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  box-shadow: 0 3px 6px 0 rgba(0,72,51,0.25);
  box-shadow: 0 3px 6px 0 var(--interactive-shadow, rgba(0,72,51,0.25));
}
.blx-modal .blx-icon-close {
  position: absolute;
  top: 16px;
  right: 16px;
}
.blx-modal .blx-modal-buttons {
  display: flex;
  justify-content: flex-end;
}
.blx-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1000;
  background-color: #91a49e;
  background-color: var(--ui-07, #91a49e);
}
.blx-progress-dots {
  display: flex;
}
.blx-progress-dots .blx-progress-dot-container {
  position: relative;
  margin-right: 8px;
}
.blx-progress-dots .blx-progress-dot-container input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.blx-progress-dots .blx-progress-dot-container input:checked ~ .blx-progress-dot {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blx-progress-dots .blx-progress-dot-container input:focus ~ .blx-progress-dot {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.blx-progress-dots .blx-progress-dot-container .blx-progress-dot {
  display: block;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.blx-progress-dots .blx-progress-dot-container .blx-progress-dot:hover {
  cursor: pointer;
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.blx-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 9px 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
/* Create a custom radio button */
/* Hide the browser's default radio button */
}
.blx-radio .blx-radio-label {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-radio .blx-radio-check {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
/* Create the checkmark/indicator (hidden when not checked) */
}
.blx-radio .blx-radio-check::before {
  display: none;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
}
.blx-radio .blx-radio-check::after {
  display: none;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blx-radio:hover .blx-radio-check {
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-radio.blx-hover .blx-radio-check {
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-radio:hover .blx-radio-check::after {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
}
.blx-radio.blx-hover .blx-radio-check::after {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
}
.blx-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
/* When the radio button is checked */
}
.blx-radio input[type="radio"]:checked ~ .blx-radio-check {
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
/* Show the checkmark when checked */
}
.blx-radio input[type="radio"]:checked ~ .blx-radio-check:hover {
  border: 1px solid #009f6f;
  border: 1px solid var(--interactive, #009f6f);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-radio input[type="radio"]:checked ~ .blx-radio-check.blx-hover {
  border: 1px solid #009f6f;
  border: 1px solid var(--interactive, #009f6f);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-radio input[type="radio"]:checked ~ .blx-radio-check::after {
  display: block;
}
.blx-radio input[type="radio"]:checked:focus + .blx-radio-check {
  outline: none;
  border: 1px solid #009f6f;
  border: 1px solid var(--interactive, #009f6f);
}
.blx-radio input[type="radio"]:checked.blx-focus + .blx-radio-check {
  outline: none;
  border: 1px solid #009f6f;
  border: 1px solid var(--interactive, #009f6f);
}
.blx-radio input[type="radio"]:checked:focus + .blx-radio-check::before,
.blx-radio input[type="radio"]:checked.blx-focus + .blx-radio-check::before {
  display: block;
}
.blx-radio input[type="radio"]:focus + .blx-radio-check {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-radio input[type="radio"].blx-focus + .blx-radio-check {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.blx-radio.blx-disabled {
  box-shadow: none;
  cursor: pointer;
}
.blx-sortable-list {
  background: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
}
.blx-sortable-list .blx-sortable-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.blx-sortable-list .blx-sortable-list-item.dragging {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.blx-sortable-list .blx-sortable-list-item.dragover {
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.blx-sortable-list .blx-sortable-list-item .blx-icon-drag {
  position: relative;
  right: 0;
  margin: 8px;
  cursor: move;
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
}
.blx-sortable-list .blx-sortable-list-item .blx-icon-drag:hover {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
}
.blx-sortable-list .blx-sortable-list-item .blx-icon-drag.blx-hover {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
}
.blx-table {
  margin: 12px 16px;
  border-collapse: collapse;
  color: #2b3836;
  color: var(--text-01, #2b3836);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
}
.blx-table .blx-table-header-row {
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.blx-table .blx-table-row {
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  border-top: 1px solid #d9e1e0;
  border-top: 1px solid var(--ui-04, #d9e1e0);
}
.blx-table .blx-table-row:hover {
  cursor: pointer;
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
}
.blx-table .blx-table-header-cell,
.blx-table .blx-table-cell {
  padding: 0 28px;
  border: none;
  text-align: left;
}
.blx-table .blx-table-header-cell:first-child,
.blx-table .blx-table-cell:first-child {
  padding-left: 24px;
}
.blx-table .blx-table-header-cell:last-child,
.blx-table .blx-table-cell:last-child {
  padding-right: 24px;
}
.blx-table .blx-table-cell {
  text-align: left;
}
.blx-table .blx-table-cell.numeric {
  text-align: right;
}
.blx-horizontal-tabs,
.blx-vertical-tabs {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
}
.blx-horizontal-tabs label input[type="radio"],
.blx-vertical-tabs label input[type="radio"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.blx-horizontal-tabs .blx-tab-item {
  min-height: 32px;
  height: 32px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
  border: none;
}
.blx-vertical-tabs .blx-tab-item {
  min-height: 32px;
  height: 32px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
  border: none;
}
.blx-horizontal-tabs .blx-tab-item:active {
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-vertical-tabs .blx-tab-item:active {
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-horizontal-tabs .blx-tab-item.blx-active {
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-vertical-tabs .blx-tab-item.blx-active {
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-horizontal-tabs .blx-tab-item:hover {
  text-decoration: none;
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
.blx-vertical-tabs .blx-tab-item:hover {
  text-decoration: none;
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
.blx-horizontal-tabs .blx-tab-item.blx-hover {
  text-decoration: none;
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
.blx-vertical-tabs .blx-tab-item.blx-hover {
  text-decoration: none;
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
.blx-horizontal-tabs .blx-tab-item:focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
  background: transparent;
}
.blx-vertical-tabs .blx-tab-item:focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
  background: transparent;
}
.blx-horizontal-tabs .blx-tab-item.blx-focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
  background: transparent;
}
.blx-vertical-tabs .blx-tab-item.blx-focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
  background: transparent;
}
.blx-horizontal-tabs input[type="radio"]:checked + .blx-tab-item {
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-vertical-tabs input[type="radio"]:checked + .blx-tab-item {
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.blx-horizontal-tabs input[type="radio"]:focus + .blx-tab-item {
  color: #49a1ff;
  color: var(--selection, #49a1ff);
}
.blx-vertical-tabs input[type="radio"]:focus + .blx-tab-item {
  color: #49a1ff;
  color: var(--selection, #49a1ff);
}
.blx-horizontal-tabs input[type="radio"]:hover + .blx-tab-item {
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
.blx-vertical-tabs input[type="radio"]:hover + .blx-tab-item {
  color: #008b61;
  color: var(--interactive-hover, #008b61);
}
.blx-horizontal-tabs {
  display: inline-flex;
}
.blx-horizontal-tabs input[type="radio"]:checked + .blx-tab-item {
  border-bottom: 4px solid #009f6f;
  border-bottom: 4px solid var(--interactive, #009f6f);
}
.blx-horizontal-tabs input[type="radio"]:focus + .blx-tab-item {
  border-bottom: 4px solid #49a1ff;
  border-bottom: 4px solid var(--selection, #49a1ff);
}
.blx-horizontal-tabs input[type="radio"]:hover + .blx-tab-item {
  border-bottom: 4px solid #008b61;
  border-bottom: 4px solid var(--interactive-hover, #008b61);
}
.blx-horizontal-tabs .blx-tab-item {
  margin: 10px 16px;
  padding: 4px 0;
  border-bottom: 4px solid transparent;
}
.blx-horizontal-tabs .blx-tab-item:active {
  border-bottom: 4px solid #009f6f;
  border-bottom: 4px solid var(--interactive, #009f6f);
}
.blx-horizontal-tabs .blx-tab-item.blx-active {
  border-bottom: 4px solid #009f6f;
  border-bottom: 4px solid var(--interactive, #009f6f);
}
.blx-horizontal-tabs .blx-tab-item:hover {
  border-bottom: 4px solid #008b61;
  border-bottom: 4px solid var(--interactive-hover, #008b61);
}
.blx-horizontal-tabs .blx-tab-item.blx-hover {
  border-bottom: 4px solid #008b61;
  border-bottom: 4px solid var(--interactive-hover, #008b61);
}
.blx-horizontal-tabs .blx-tab-item:focus {
  border-bottom: 4px solid #49a1ff;
  border-bottom: 4px solid var(--selection, #49a1ff);
}
.blx-horizontal-tabs .blx-tab-item.blx-focus {
  border-bottom: 4px solid #49a1ff;
  border-bottom: 4px solid var(--selection, #49a1ff);
}
.blx-horizontal-tabs.blx-disabled .blx-tab-item {
  border-bottom: 4px solid transparent;
}
.blx-vertical-tabs {
  display: block;
}
.blx-vertical-tabs input[type="radio"]:checked + .blx-tab-item {
  border-left: 4px solid #009f6f;
  border-left: 4px solid var(--interactive, #009f6f);
}
.blx-vertical-tabs input[type="radio"]:focus + .blx-tab-item {
  border-left: 4px solid #49a1ff;
  border-left: 4px solid var(--selection, #49a1ff);
}
.blx-vertical-tabs input[type="radio"]:hover + .blx-tab-item {
  border-left: 4px solid #008b61;
  border-left: 4px solid var(--interactive-hover, #008b61);
}
.blx-vertical-tabs .blx-tab-item {
  display: block;
  margin: 8px 0 8px -12px;
  margin-left: -12px;
  padding: 4px 8px;
  border-left: 4px solid transparent;
}
.blx-vertical-tabs .blx-tab-item:active {
  border-left: 4px solid #009f6f;
  border-left: 4px solid var(--interactive, #009f6f);
}
.blx-vertical-tabs .blx-tab-item.blx-active {
  border-left: 4px solid #009f6f;
  border-left: 4px solid var(--interactive, #009f6f);
}
.blx-vertical-tabs .blx-tab-item:hover {
  border-left: 4px solid #008b61;
  border-left: 4px solid var(--interactive-hover, #008b61);
}
.blx-vertical-tabs .blx-tab-item.blx-hover {
  border-left: 4px solid #008b61;
  border-left: 4px solid var(--interactive-hover, #008b61);
}
.blx-vertical-tabs .blx-tab-item:focus {
  border-left: 4px solid #49a1ff;
  border-left: 4px solid var(--selection, #49a1ff);
}
.blx-vertical-tabs .blx-tab-item.blx-focus {
  border-left: 4px solid #49a1ff;
  border-left: 4px solid var(--selection, #49a1ff);
}
.blx-vertical-tabs.blx-disabled .blx-tab-item {
  border-left: 4px solid transparent;
}
.blx-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.blx-disabled input[type="radio"] {
  pointer-events: none;
}
.blx-disabled .blx-tab-item {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
  border-color: transparent;
}
.blx-text-field-container {
  position: relative;
  display: flex;
}
.blx-text-field {
  display: inline-flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 19px;
  min-width: 150px;
  max-width: 484px;
  width: 300px;
}
.blx-text-field label {
  margin-bottom: 6px;
}
.blx-text-field input {
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Graphik Web;
}
.blx-text-field input[type="date"] {
  position: relative;
  width: 166px;
}
.blx-text-field input[type="date"]::before,
.blx-text-field input[type="date"]::after {
  content: "";
  position: absolute;
  top: 12px;
  height: 16px;
  pointer-events: none;
}
.blx-text-field input[type="date"]::before {
  right: 16px;
  width: 20px;
  background-color: #fff;
  background-color: var(--ui-00, #fff);
}
.blx-text-field input[type="date"]::after {
  right: 18px;
  width: 16px;
  background-repeat: no-repeat;
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
  -webkit-mask: url("../svgs/icon-calendar.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-calendar.svg") no-repeat 50% 50%;
}
.blx-text-field textarea {
  resize: none;
}
.blx-text-field input {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  border-radius: 7px;
  padding: 11px 16px;
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
}
.blx-text-field textarea {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  border-radius: 7px;
  padding: 11px 16px;
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
}
.blx-text-field input.blx-invalid {
  border: 1px solid #ec4f07;
  border: 1px solid var(--error, #ec4f07);
}
.blx-text-field textarea.blx-invalid {
  border: 1px solid #ec4f07;
  border: 1px solid var(--error, #ec4f07);
}
.blx-text-field input:hover {
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
  box-shadow: 0 0 0 1px #edf0ee;
  box-shadow: 0 0 0 1px var(--ui-03, #edf0ee);
}
.blx-text-field textarea:hover {
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
  box-shadow: 0 0 0 1px #edf0ee;
  box-shadow: 0 0 0 1px var(--ui-03, #edf0ee);
}
.blx-text-field input.blx-hover {
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
  box-shadow: 0 0 0 1px #edf0ee;
  box-shadow: 0 0 0 1px var(--ui-03, #edf0ee);
}
.blx-text-field textarea.blx-hover {
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
  box-shadow: 0 0 0 1px #edf0ee;
  box-shadow: 0 0 0 1px var(--ui-03, #edf0ee);
}
.blx-text-field input:focus {
  outline: none;
  border: 1px solid #39cf94;
  border: 1px solid var(--success-hex, #39cf94);
}
.blx-text-field textarea:focus {
  outline: none;
  border: 1px solid #39cf94;
  border: 1px solid var(--success-hex, #39cf94);
}
.blx-text-field input.blx-focus {
  outline: none;
  border: 1px solid #39cf94;
  border: 1px solid var(--success-hex, #39cf94);
}
.blx-text-field textarea.blx-focus {
  outline: none;
  border: 1px solid #39cf94;
  border: 1px solid var(--success-hex, #39cf94);
}
.blx-text-field input:-moz-read-only,
.blx-text-field textarea:-moz-read-only {
  pointer-events: none;
}
.blx-text-field input:read-only,
.blx-text-field textarea:read-only {
  pointer-events: none;
}
.blx-text-field input.blx-disabled,
.blx-text-field textarea.blx-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.blx-text-field .blx-text-field-prefix {
  font-size: 16px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 9px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-text-field .blx-text-field-suffix {
  font-size: 16px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 9px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-text-field .blx-text-field-icon {
  font-size: 16px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 9px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-text-field .blx-text-field-prefix {
  position: absolute;
  left: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.blx-text-field .blx-text-field-prefix ~ input {
  padding-left: 40px;
}
.blx-text-field .blx-text-field-suffix {
  position: absolute;
  right: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.blx-text-field .blx-text-field-suffix ~ input {
  padding-right: 40px;
}
.blx-text-field .blx-text-field-icon {
  margin-left: 10px;
}
.blx-text-field .blx-invalid-text-field-marker,
.blx-text-field .blx-invalid-text-field-message,
.blx-text-field .blx-text-field-helper {
  font-size: 12px;
  line-height: 16px;
}
.blx-text-field .blx-invalid-text-field-marker {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.blx-text-field .blx-invalid-text-field-message {
  color: #ec4f07;
  color: var(--error, #ec4f07);
}
.blx-text-field .blx-text-field-helper {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.blx-text-field-with-dropdown {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 19px;
}
.blx-text-field-with-dropdown input {
  border-radius: 7px 0 0 7px;
}
.blx-text-field-with-dropdown .blx-text-field {
  margin-right: 0;
  margin-bottom: 0;
}
.blx-text-field-with-dropdown .blx-dropdown {
  display: inline-block;
  min-width: initial;
}
.blx-text-field-with-dropdown .blx-dropdown-trigger {
  border-radius: 0 7px 7px 0;
  padding: 0 42px 0 16px;
}
.blx-toggle {
  display: inline-flex;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  margin: 12px 16px;
}
.blx-toggle.blx-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.blx-toggle .blx-toggle-container {
  position: relative;
}
.blx-toggle .blx-toggle-container input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.blx-toggle .blx-toggle-container input:checked ~ .blx-toggle-text {
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-toggle .blx-toggle-container input:focus ~ .blx-toggle-text {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-toggle .blx-toggle-container .blx-toggle-text {
  padding: 10px 30px;
  cursor: pointer;
  border: 1px solid #91a49e;
  border: 1px solid var(--ui-07, #91a49e);
  background-color: #fff;
  background-color: var(--ui-00, #fff);
}
.blx-toggle .blx-toggle-container .blx-toggle-text:hover {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
  color: #fff;
  color: var(--ui-00, #fff);
}
.blx-toggle .blx-toggle-container:first-of-type .blx-toggle-text {
  border-radius: 7px 0 0 7px;
  border-right: none;
}
.blx-toggle .blx-toggle-container:last-of-type .blx-toggle-text {
  border-radius: 0 7px 7px 0;
  border-left: none;
}
.blx-hidden {
  display: none;
}
.blx-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
