/* minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
object,
audio,
video {
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
@font-face {
  font-family: FranklinGothicNormal;
  font-weight: normal;
  src: url("../fonts/FG0.otf") format("opentype");
}
@font-face {
  font-family: FranklinGothicMedium;
  font-weight: medium;
  src: url("../fonts/FG2.otf") format("opentype");
}
@font-face {
  font-family: FranklinGothicBold;
  font-weight: bold;
  src: url("../fonts/FG4.otf") format("opentype");
}
:root {
  --interactive: #009f6f;
  --interactive-hover: #008b61;
  --interactive-shadow: rgba(0,72,51,0.25);
  --interactive-shadow-hover: rgba(0,72,51,0.35);
  --brand-01: #00b07d;
  --ui-00: #fff;
  --ui-01: #f6f8f8;
  --ui-02: #f5faf8;
  --ui-03: #edf0ee;
  --ui-04: #d9e1e0;
  --ui-05: #bdc7c3;
  --ui-06: #aab7b2;
  --ui-07: #91a49e;
  --text-01: #2b3836;
  --text-02: #7c8c88;
  --success: #39cf94;
  --information: #6f6bf8;
  --warning: #fdb100;
  --error: #ec4f07;
  --selection: #49a1ff;
}
html,
body {
  min-height: 100%;
  height: 100%;
  font-family: FranklinGothicNormal;
}
button {
  font-family: FranklinGothicNormal;
}
p {
  font-size: 16px;
  font-family: FranklinGothicNormal;
  line-height: 28px;
  text-align: left;
  margin: 12px 0;
}
p.text-emph {
  font-family: FranklinGothicMedium;
}
a,
.link {
  font-size: 16px;
  line-height: 20px;
}
a:hover,
.link:hover,
a.hover,
.link.hover,
a:focus,
.link:focus,
a.focus,
.link.focus {
  cursor: pointer;
  text-decoration: underline;
}
h1 {
  font-family: FranklinGothicMedium;
  font-size: 96px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
h2 {
  font-family: FranklinGothicMedium;
  font-size: 60px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
h3 {
  font-family: FranklinGothicMedium;
  font-size: 48px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
h4 {
  font-family: FranklinGothicMedium;
  font-size: 34px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
h5 {
  font-family: FranklinGothicMedium;
  font-size: 24px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
h6 {
  font-family: FranklinGothicMedium;
  font-size: 20px;
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.subtitle {
  font-family: FranklinGothicMedium;
  font-size: 16px;
  line-height: 24px;
}
.subtitle-small {
  font-family: FranklinGothicMedium;
  font-size: 14px;
  line-height: 18px;
}
.ui-text {
  font-family: FranklinGothicNormal;
  font-size: 14px;
  line-height: 18px;
}
.body-caps {
  font-family: FranklinGothicMedium;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
.caption {
  font-family: FranklinGothicNormal;
  font-size: 12px;
  line-height: 16px;
}
.overline {
  font-family: FranklinGothicMedium;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
}
.heading-large {
  margin: 12px 0;
  display: block;
  font-size: 52px;
  font-family: FranklinGothicBold;
  line-height: 65px;
  text-align: left;
}
.heading-medium {
  display: block;
  font-size: 36px;
  font-family: FranklinGothicMedium;
  line-height: 45px;
  text-align: left;
}
.title {
  margin: 12px 0;
  font-size: 20px;
  font-family: FranklinGothicMedium;
  line-height: 25px;
  text-align: left;
}
.category-title {
  font-size: 20px;
  font-family: FranklinGothicMedium;
  line-height: 24px;
  margin: 0;
}
.statistic-title {
  font-size: 20px;
  font-family: FranklinGothicMedium;
  line-height: 25px;
  margin: 0;
}
.small-title {
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
  text-align: left;
  margin: 0;
}
.small-text {
  font-family: FranklinGothicNormal;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
.tab {
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
}
.tab:hover {
  cursor: pointer;
  text-decoration: none;
}
.ui {
  font-size: 16px;
  font-family: FranklinGothicNormal;
  line-height: 20px;
  text-align: left;
  margin: 12px 0;
}
.ui:hover {
  border-radius: 3px;
  cursor: pointer;
}
.capitalize {
  text-transform: uppercase;
}
.brand-name {
  font-family: FranklinGothicBold;
}
.brand-name-by {
  font-family: FranklinGothicMedium;
}
.subtitle.active {
  color: #00b07d;
  color: var(--brand-01, #00b07d);
}
.subtitle-small.active {
  color: #00b07d;
  color: var(--brand-01, #00b07d);
}
.subtitle.inactive {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.subtitle-small.inactive {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.heading-large {
  color: #00b07d;
  color: var(--brand-01, #00b07d);
}
.heading-medium {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.title {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.category-title {
  color: #91a49e;
  color: var(--ui-07, #91a49e);
}
.statistic-title {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.success {
  color: #39cf94;
  color: var(--success-hex, #39cf94);
}
.warning {
  color: #fdb100;
  color: var(--warning, #fdb100);
}
.error {
  color: #ec4f07;
  color: var(--error, #ec4f07);
}
.information {
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
}
.tab {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.tab:active {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.tab:hover {
  color: #00b07d;
  color: var(--brand-01, #00b07d);
}
.ui {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
label {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
p {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
a {
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
  text-decoration: none;
}
.link {
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
  text-decoration: none;
}
a:hover {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.link:hover {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
a.hover {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.link.hover {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
a:focus {
  background-color: #edf0ee;
  background-color: var(--ui-03, #edf0ee);
  outline: none;
  text-decoration: none;
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
}
.link:focus {
  background-color: #edf0ee;
  background-color: var(--ui-03, #edf0ee);
  outline: none;
  text-decoration: none;
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
}
a.focus {
  background-color: #edf0ee;
  background-color: var(--ui-03, #edf0ee);
  outline: none;
  text-decoration: none;
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
}
.link.focus {
  background-color: #edf0ee;
  background-color: var(--ui-03, #edf0ee);
  outline: none;
  text-decoration: none;
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
}
a.disabled {
  color: #2b3836;
  color: var(--text-01, #2b3836);
  opacity: 0.5;
  pointer-events: none;
}
.link.disabled {
  color: #2b3836;
  color: var(--text-01, #2b3836);
  opacity: 0.5;
  pointer-events: none;
}
.accordion {
  position: relative;
  width: 320px;
}
.accordion-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.accordion-section input[type=checkbox][name='accordion-tab'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-section input[type=checkbox][name='accordion-tab']:checked + label::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.accordion-section .accordion-trigger {
  position: relative;
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}
.accordion-section .accordion-trigger > p {
  font-family: FranklinGothicMedium;
}
.accordion-section .accordion-trigger::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 12px 16px;
  transition: all 0.25s;
  content: "";
  background-image: url("../svgs/icon-forward.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.accordion-section .accordion-trigger > * {
  margin: 0 0 0 32px;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
}
.accordion-trigger {
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.accordion-content {
  background-color: #edf0ee;
  background-color: var(--ui-03, #edf0ee);
}
.accordion-content .accordion-trigger {
  background-color: transparent;
}
.alert {
  width: 90%;
  display: flex;
  padding: 16px;
  margin: 12px 0;
  border-top: 3px solid;
  border-radius: 0 0 3px 3px;
}
.alert-icon-container {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex: 0 0 auto;
}
.alert-icon,
.alert-icon-background {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
}
.alert-icon-background {
  border-radius: 50%;
}
.alert-text {
  padding: 0 16px;
  flex: 1 1 auto;
}
.alert-close {
  width: 16px;
  height: 16px;
  cursor: pointer;
  flex: 0 0 auto;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
}
.alert {
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  box-shadow: 0 3px 6px 1px #d9e1e0;
  box-shadow: 0 3px 6px 1px var(--ui-04, #d9e1e0);
}
.alert-icon-container {
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.alert-icon {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
}
.alert-close {
  background-color: transparent;
  background-image: url("../svgs/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
}
.success .alert-icon-background {
  background-color: #39cf94;
  background-color: var(--success-hex, #39cf94);
}
.success .alert-icon {
  -webkit-mask: url("../svgs/icon-check.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-check.svg") no-repeat 50% 50%;
}
.warning .alert-icon-background {
  background-color: #fdb100;
  background-color: var(--warning, #fdb100);
}
.warning .alert-icon {
  -webkit-mask: url("../svgs/icon-warning.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-warning.svg") no-repeat 50% 50%;
}
.error .alert-icon-background {
  background-color: #ec4f07;
  background-color: var(--error, #ec4f07);
}
.error .alert-icon {
  -webkit-mask: url("../svgs/icon-error.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-error.svg") no-repeat 50% 50%;
}
.information .alert-icon-background {
  background-color: #6f6bf8;
  background-color: var(--information, #6f6bf8);
}
.information .alert-icon {
  -webkit-mask: url("../svgs/icon-information.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-information.svg") no-repeat 50% 50%;
}
.breadcrumbs ul {
  display: flex;
  padding: 11px 16px 9px 16px;
  list-style-type: none;
  margin: 0;
}
.breadcrumbs li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.breadcrumbs li::before {
  content: "/";
  padding-left: 16px;
  padding-right: 16px;
}
.breadcrumbs li:first-child::before {
  content: "";
  padding: 0;
}
.breadcrumbs a:hover {
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #6f6bf8;
  color: var(--information, #6f6bf8);
}
.button {
  margin: 0;
  height: 40px;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  font-family: FranklinGothicMedium;
  text-align: center;
}
.button.small {
  height: 28px;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 1.5;
}
.button:last-child {
  margin-right: 0;
}
.button:hover,
.button.hover {
  text-decoration: none;
}
.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button {
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.25);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow, rgba(0,72,51,0.25));
}
.button.primary {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
  border: 2px solid #009f6f;
  border: 2px solid var(--interactive, #009f6f);
  color: #fff;
  color: var(--ui-00, #fff);
}
.button.primary:hover {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  border: 2px solid #008b61;
  border: 2px solid var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.button.primary.hover {
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  border: 2px solid #008b61;
  border: 2px solid var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.button.secondary {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 2px solid #fff;
  border: 2px solid var(--ui-00, #fff);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.button.secondary:hover {
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  border: 2px solid #edf0ee;
  border: 2px solid var(--ui-03, #edf0ee);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.button.secondary.hover {
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  border: 2px solid #edf0ee;
  border: 2px solid var(--ui-03, #edf0ee);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.button:hover {
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.button.hover {
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.button:focus {
  outline: none;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.button:active {
  outline: none;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.button.focus {
  outline: none;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.button:focus.primary {
  border: 2px solid #00b07d;
  border: 2px solid var(--brand-01, #00b07d);
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.button:active.primary {
  border: 2px solid #00b07d;
  border: 2px solid var(--brand-01, #00b07d);
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.button.focus.primary {
  border: 2px solid #00b07d;
  border: 2px solid var(--brand-01, #00b07d);
  background-color: #008b61;
  background-color: var(--interactive-hover, #008b61);
  color: #fff;
  color: var(--ui-00, #fff);
}
.button:focus.secondary {
  border: 2px solid #d9e1e0;
  border: 2px solid var(--ui-04, #d9e1e0);
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.button:active.secondary {
  border: 2px solid #d9e1e0;
  border: 2px solid var(--ui-04, #d9e1e0);
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.button.focus.secondary {
  border: 2px solid #d9e1e0;
  border: 2px solid var(--ui-04, #d9e1e0);
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  color: #009f6f;
  color: var(--interactive, #009f6f);
}
.checkbox-label-text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 7px;
  margin: 6px 0;
}
.checkmark.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.checkbox-container input:checked ~ .checkmark.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.checkbox-label-text {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.checkmark {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
}
.checkmark:hover {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.checkmark.hover {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
}
.checkbox-container input:checked ~ .checkmark:hover {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
  border: 1px solid #009f6f;
  border: 1px solid var(--interactive, #009f6f);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.checkbox-container input:checked ~ .checkmark.hover {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
  border: 1px solid #009f6f;
  border: 1px solid var(--interactive, #009f6f);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.checkbox-container input[type="checkbox"]:focus + span {
  outline: none;
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.checkbox-container input[type="checkbox"].focus + span {
  outline: none;
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
  box-shadow: 0 2px 4px 0 rgba(0,72,51,0.35);
  box-shadow: 0 2px 4px 0 var(--interactive-shadow-hover, rgba(0,72,51,0.35));
}
.checkbox-container input[type="checkbox"]:checked:focus + span {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
  outline: none;
  border: 1px solid #39cf94;
  border: 1px solid var(--success-hex, #39cf94);
}
.checkbox-container input[type="checkbox"]:checked.focus + span {
  background-color: #009f6f;
  background-color: var(--interactive, #009f6f);
  outline: none;
  border: 1px solid #39cf94;
  border: 1px solid var(--success-hex, #39cf94);
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}
.dropdown-wrapper {
  display: inline-block;
}
.dropdown-description {
  margin: 0;
}
.dropdown-trigger {
  position: relative;
  height: 40px;
  border-radius: 7px;
  font-size: 16px;
  font-family: FranklinGothicNormal;
  line-height: 20px;
  text-align: left;
  padding: 0 48px 0 16px;
  margin: 0;
  cursor: pointer;
}
.dropdown-trigger.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.dropdown-trigger::after {
  position: absolute;
  top: 10px;
  right: 16px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.dropdown-trigger.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.dropdown-trigger:hover,
.dropdown-trigger.hover {
  margin: 0 -1px;
}
.dropdown-trigger:hover::after,
.dropdown-trigger.hover::after {
  top: 9px;
}
.dropdown-trigger:focus,
.dropdown-trigger.focus {
  margin: 0;
}
.dropdown-trigger:focus::after,
.dropdown-trigger.focus::after {
  top: 10px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 7px;
  z-index: 1;
  margin: 8px 0;
  padding: 8px 0;
  list-style-type: none;
}
.dropdown-item {
  background: transparent;
}
.dropdown-item * {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-family: FranklinGothicNormal;
  line-height: 20px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.dropdown-item *:hover,
.dropdown-item *.hover {
  text-decoration: none;
}
.dropdown-trigger {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
  color: #91a49e;
  color: var(--ui-07, #91a49e);
}
.dropdown-trigger::after {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.dropdown-trigger:hover {
  border: 2px solid #edf0ee;
  border: 2px solid var(--ui-03, #edf0ee);
}
.dropdown-trigger.hover {
  border: 2px solid #edf0ee;
  border: 2px solid var(--ui-03, #edf0ee);
}
.dropdown-trigger:focus {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.dropdown-trigger.focus {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.dropdown-menu {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: solid 1px #d9e1e0;
  border: solid 1px var(--ui-04, #d9e1e0);
  box-shadow: 0 3px 6px 0 #d9e1e0;
  box-shadow: 0 3px 6px 0 var(--ui-04, #d9e1e0);
}
.dropdown-item * {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.dropdown-item *:focus {
  outline: none;
  color: #fff;
  color: var(--ui-00, #fff);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.dropdown-item *.focus {
  outline: none;
  color: #fff;
  color: var(--ui-00, #fff);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.dropdown-item *:active {
  outline: none;
  color: #fff;
  color: var(--ui-00, #fff);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.dropdown-item *.active {
  outline: none;
  color: #fff;
  color: var(--ui-00, #fff);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.dropdown-item:hover {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  color: #fff;
  color: var(--ui-00, #fff);
}
.dropdown-item.hover {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  color: #fff;
  color: var(--ui-00, #fff);
}
.dropdown-item:hover * {
  color: #fff;
  color: var(--ui-00, #fff);
}
.dropdown-item.hover * {
  color: #fff;
  color: var(--ui-00, #fff);
}
.icon,
.icon-info {
  display: inline-block;
  width: 24px;
  height: 16px;
  cursor: pointer;
  flex: 0 0 auto;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
}
.icon {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.icon-info {
  background-color: #6f6bf8;
  background-color: var(--information, #6f6bf8);
}
.icon,
.icon-info {
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
}
.icon-down-arrow {
  height: 12px;
  -webkit-mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-down.svg") no-repeat 50% 50%;
}
.icon-up-arrow {
  -webkit-mask: url("../svgs/icon-up.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-up.svg") no-repeat 50% 50%;
}
.icon-back {
  -webkit-mask: url("../svgs/icon-back.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-back.svg") no-repeat 50% 50%;
}
.icon-forward {
  -webkit-mask: url("../svgs/icon-forward.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-forward.svg") no-repeat 50% 50%;
}
.icon-drag {
  -webkit-mask: url("../svgs/icon-drag.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-drag.svg") no-repeat 50% 50%;
}
.icon-plus {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  -webkit-mask: url("../svgs/icon-plus.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-plus.svg") no-repeat 50% 50%;
}
.icon-plus:hover {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.icon-plus:focus {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.icon-close {
  -webkit-mask: url("../svgs/icon-close.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-close.svg") no-repeat 50% 50%;
}
.icon-more {
  -webkit-mask: url("../svgs/icon-more.svg") no-repeat 50% 50%;
          mask: url("../svgs/icon-more.svg") no-repeat 50% 50%;
}
.loading {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  -webkit-animation: blink 3s infinite;
          animation: blink 3s infinite;
}
.load-error {
  position: relative;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  max-height: 90%;
  padding: 40px;
  z-index: 1001;
  border-radius: 3px;
}
.modal-buttons {
  display: flex;
  justify-content: flex-end;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1000;
}
.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
}
.modal {
  border: solid 1px #d9e1e0;
  border: solid 1px var(--ui-04, #d9e1e0);
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  box-shadow: 0 3px 6px 0 #d9e1e0;
  box-shadow: 0 3px 6px 0 var(--ui-04, #d9e1e0);
}
.modal-overlay {
  background-color: #91a49e;
  background-color: var(--ui-07, #91a49e);
}
.modal-close {
  background-color: transparent;
  background-image: url("../svgs/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 1px 1px;
}
.modal-close:focus {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
}
.progress-dots {
  display: flex;
}
.progress-dot-container {
  position: relative;
  margin-right: 8px;
}
.progress-dot-container input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.progress-dot {
  display: block;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.progress-dot:hover {
  cursor: pointer;
}
.progress-dot {
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.progress-dot:hover {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.progress-dot-container input:checked ~ .progress-dot {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.progress-dot-container input:focus ~ .progress-dot {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.radio-label-text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
}
.radio-button-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.radio-check:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-button-container input:checked ~ .radio-check:after {
  display: block;
}
.radio-button-container .radio-check:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.radio-label-text {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.radio-check {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
}
.radio-check:hover {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
}
.radio-check.hover {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
}
.radio-button-container input:checked ~ .radio-check {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
}
.radio-button-container input:checked ~ .radio-check.disabled {
  border: 1px solid #91a49e;
  border: 1px solid var(--ui-07, #91a49e);
}
.radio-button-container .radio-check:after {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.radio-button-container .radio-check.disabled:after {
  background-color: #91a49e;
  background-color: var(--ui-07, #91a49e);
}
.radio-button-container input[type="radio"]:focus + span {
  outline: none;
  box-shadow: 0 0 0 2px #49a1ff;
  box-shadow: 0 0 0 2px var(--selection, #49a1ff);
}
.radio-button-container input[type="radio"].focus + span {
  outline: none;
  box-shadow: 0 0 0 2px #49a1ff;
  box-shadow: 0 0 0 2px var(--selection, #49a1ff);
}
.sortable-list {
  background: transparent;
  max-width: 320px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sortable-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.sortable-list-section {
  width: 100%;
}
.sortable-list-section > .sortable-list-draggable {
  font-family: FranklinGothicMedium;
}
.sortable-list-draggable {
  padding-top: 6px;
  padding-left: 32px;
  padding-right: 48px;
  flex: 1;
  justify-content: space-between;
}
.sortable-list-drag-icon {
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 24px;
  cursor: move;
}
.sortable-list-item.dragging {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
}
.sortable-list-item.dragover {
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.sortable-list-section > .sortable-list-draggable {
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.sortable-list-drag-icon {
  background-color: #91a49e;
  background-color: var(--ui-07, #91a49e);
}
.hidden {
  display: none;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.table {
  margin: 12px 16px;
  border-collapse: collapse;
}
.table-header-row {
  height: 56px;
  font-size: 16px;
  font-family: FranklinGothicMedium;
  line-height: 20px;
}
.table-row {
  height: 48px;
  font-size: 16px;
  font-family: FranklinGothicNormal;
  line-height: 20px;
}
.table-row:hover {
  cursor: pointer;
}
.table-header-cell,
.table-cell {
  padding: 0 28px;
  border: none;
  text-align: left;
}
.table-header-cell:first-child,
.table-cell:first-child {
  padding-left: 24px;
}
.table-header-cell:last-child,
.table-cell:last-child {
  padding-right: 24px;
}
.table-cell {
  text-align: left;
}
.table-cell.numeric {
  text-align: right;
}
.table {
  color: #2b3836;
  color: var(--text-01, #2b3836);
  border: 1px solid #d9e1e0;
  border: 1px solid var(--ui-04, #d9e1e0);
}
.table-header-row {
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
}
.table-row {
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
  border-top: 1px solid #d9e1e0;
  border-top: 1px solid var(--ui-04, #d9e1e0);
}
.table-row:hover {
  background-color: #d9e1e0;
  background-color: var(--ui-04, #d9e1e0);
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
}
.horizontal-tabs,
.vertical-tabs {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.horizontal-tabs li,
.vertical-tabs li,
.horizontal-tabs label,
.vertical-tabs label {
  min-height: 32px;
  margin: 4px 32px 4px 0;
}
.horizontal-tabs label input[type="radio"],
.vertical-tabs label input[type="radio"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.horizontal-tabs.disabled,
.vertical-tabs.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.horizontal-tabs .tab-item,
.vertical-tabs .tab-item {
  height: 32px;
  vertical-align: middle;
  font-family: FranklinGothicMedium;
  font-size: 16px;
  line-height: 24px;
}
.horizontal-tabs .tab-item:hover,
.vertical-tabs .tab-item:hover,
.horizontal-tabs .tab-item.hover,
.vertical-tabs .tab-item.hover {
  cursor: pointer;
  text-decoration: none;
}
.horizontal-tabs {
  display: inline-flex;
}
.vertical-tabs {
  display: block;
}
.horizontal-tabs .tab-item {
  padding: 4px 0;
}
.vertical-tabs .tab-item {
  display: block;
  margin-left: -12px;
  padding: 8px;
}
.horizontal-tabs,
.vertical-tabs {
  background-color: transparent;
}
.tab-item {
  border: none;
}
.tab-item.inactive {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.tab-item.active {
  color: #00b07d;
  color: var(--brand-01, #00b07d);
}
.tab-item:hover {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.tab-item.hover {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.tab-item:focus {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
  background: transparent;
}
.tab-item:active {
  outline: none;
  color: #49a1ff;
  color: var(--selection, #49a1ff);
  background: transparent;
}
.tab-item > input[type="radio"]:focus + span {
  color: #49a1ff;
  color: var(--selection, #49a1ff);
}
.tab-item > input[type="radio"]:active + span {
  color: #49a1ff;
  color: var(--selection, #49a1ff);
}
.horizontal-tabs .tab-item {
  border-bottom: 4px solid transparent;
}
.horizontal-tabs .tab-item:hover {
  border-bottom: 4px solid #d9e1e0;
  border-bottom: 4px solid var(--ui-04, #d9e1e0);
}
.horizontal-tabs .tab-item.hover {
  border-bottom: 4px solid #d9e1e0;
  border-bottom: 4px solid var(--ui-04, #d9e1e0);
}
.horizontal-tabs .tab-item.active {
  border-bottom: 4px solid #00b07d;
  border-bottom: 4px solid var(--brand-01, #00b07d);
}
.horizontal-tabs .tab-item:focus {
  border-bottom: 4px solid #49a1ff;
  border-bottom: 4px solid var(--selection, #49a1ff);
}
.horizontal-tabs .tab-item:active {
  border-bottom: 4px solid #49a1ff;
  border-bottom: 4px solid var(--selection, #49a1ff);
}
.horizontal-tabs .tab-item > input[type="radio"]:focus {
  border-bottom: 4px solid #49a1ff;
  border-bottom: 4px solid var(--selection, #49a1ff);
}
.horizontal-tabs .tab-item > input[type="radio"]:active {
  border-bottom: 4px solid #49a1ff;
  border-bottom: 4px solid var(--selection, #49a1ff);
}
.vertical-tabs .tab-item {
  border-left: 4px solid transparent;
}
.vertical-tabs .tab-item:hover {
  border-left: 4px solid #d9e1e0;
  border-left: 4px solid var(--ui-04, #d9e1e0);
}
.vertical-tabs .tab-item.hover {
  border-left: 4px solid #d9e1e0;
  border-left: 4px solid var(--ui-04, #d9e1e0);
}
.vertical-tabs .tab-item.active {
  border-left: 4px solid #00b07d;
  border-left: 4px solid var(--brand-01, #00b07d);
}
.vertical-tabs .tab-item:focus {
  border-left: 4px solid #49a1ff;
  border-left: 4px solid var(--selection, #49a1ff);
}
.vertical-tabs .tab-item:active {
  border-left: 4px solid #49a1ff;
  border-left: 4px solid var(--selection, #49a1ff);
}
.vertical-tabs .tab-item > input[type="radio"]:focus {
  border-left: 4px solid #49a1ff;
  border-left: 4px solid var(--selection, #49a1ff);
}
.vertical-tabs .tab-item > input[type="radio"]:active {
  border-left: 4px solid #49a1ff;
  border-left: 4px solid var(--selection, #49a1ff);
}
.text-field {
  display: inline-flex;
  flex-direction: column;
}
.text-field label {
  font-size: 16px;
  line-height: 20px;
}
.text-field input {
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 7px;
  padding: 11px 16px 9px 16px;
}
.text-field-container {
  position: relative;
}
.text-field-prefix,
.text-field-suffix {
  font-size: 16px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 9px;
}
.text-field-prefix {
  position: absolute;
  left: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.text-field-prefix ~ input {
  padding-left: 40px;
}
.text-field-suffix {
  position: absolute;
  right: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.text-field-suffix ~ input {
  padding-right: 40px;
}
.invalid-label-message {
  font-size: 12px;
  line-height: 18px;
}
.text-field label {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.text-field input {
  background-color: #fff;
  background-color: var(--ui-00, #fff);
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
}
.text-field input.invalid {
  border: 1px solid #ec4f07;
  border: 1px solid var(--error, #ec4f07);
}
.text-field input:hover {
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
  box-shadow: 0 0 0 1px #edf0ee;
  box-shadow: 0 0 0 1px var(--ui-03, #edf0ee);
}
.text-field input.hover {
  border: 1px solid #edf0ee;
  border: 1px solid var(--ui-03, #edf0ee);
  box-shadow: 0 0 0 1px #edf0ee;
  box-shadow: 0 0 0 1px var(--ui-03, #edf0ee);
}
.text-field input:focus {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
}
.text-field input.focus {
  outline: none;
  border: 1px solid #49a1ff;
  border: 1px solid var(--selection, #49a1ff);
}
.text-field input:-moz-read-only {
  pointer-events: none;
}
.text-field input:read-only {
  pointer-events: none;
}
.text-field input.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.text-field-prefix {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.text-field-suffix {
  color: #2b3836;
  color: var(--text-01, #2b3836);
}
.invalid-label-marker {
  color: #ec4f07;
  color: var(--error, #ec4f07);
}
.invalid-label-message {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.toggle {
  display: inline-flex;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  margin: 12px 16px;
}
.toggle.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.toggle-container {
  position: relative;
}
.toggle-container input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  cursor: pointer;
}
.toggle-button-text {
  padding: 10px 30px;
  cursor: pointer;
}
.toggle-container:first-of-type .toggle-button-text {
  border-radius: 3px 0 0 3px;
  border-right: none;
}
.toggle-container:last-of-type .toggle-button-text {
  border-radius: 0 3px 3px 0;
  border-left: none;
}
.toggle-button-text {
  border: 1px solid #91a49e;
  border: 1px solid var(--ui-07, #91a49e);
  background-color: #fff;
  background-color: var(--ui-00, #fff);
}
.toggle-button-text:hover {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
  color: #fff;
  color: var(--ui-00, #fff);
}
.toggle-container input:checked ~ .toggle-button-text {
  border: 1px solid #00b07d;
  border: 1px solid var(--brand-01, #00b07d);
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
  color: #fff;
  color: var(--ui-00, #fff);
}
.toggle-container input:focus ~ .toggle-button-text {
  background-color: #49a1ff;
  background-color: var(--selection, #49a1ff);
  color: #fff;
  color: var(--ui-00, #fff);
}
.l-root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.l-header {
  width: 100%;
  z-index: 500;
  display: flex;
}
.l-page {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.l-scrollable-content {
  position: relative;
  width: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}
.l-scrollable-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.l-container {
  margin: 50px;
  padding: 50px;
  position: relative;
  overflow-y: auto;
  display: flex;
}
.l-container-full {
  position: relative;
  display: flex;
}
.l-container-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-half-screen {
  width: 50%;
  flex: 0 1 50%;
}
.l-full-screen {
  flex: 0 1 100%;
  height: 100%;
}
.l-flex-vertical {
  display: flex;
  flex-direction: column;
}
.l-flex-horizontal {
  display: flex;
  flex-direction: row;
}
.l-flex-wrap {
  flex-wrap: wrap;
}
.l-flex-position-right {
  justify-content: flex-end;
}
.l-flex-position-left {
  justify-content: flex-start;
}
.l-float-top-left {
  position: absolute;
  top: 40px;
  left: 5%;
}
.l-float-top-center {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.l-float-top-right {
  position: absolute;
  top: 40px;
  right: 5%;
}
.l-float-bottom-left {
  position: absolute;
  bottom: 24px;
  left: 5%;
}
.l-float-bottom-center {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.l-float-bottom-right {
  position: absolute;
  bottom: 24px;
  right: 5%;
}
.l-left-panel {
  width: 320px;
  height: 100%;
  flex: 0 0 320px;
}
.l-right-panel {
  width: 320px;
  height: 100%;
  flex: 0 0 320px;
}
.header {
  padding: 0 5%;
  flex: 0 0 auto;
}
.cbre {
  display: inline;
  height: 24px;
  padding: 2px 35px;
  -webkit-mask: url("../svgs/cbre.svg") no-repeat;
          mask: url("../svgs/cbre.svg") no-repeat;
}
.blocks-title {
  font-size: 36px;
  line-height: 25px;
  font-family: FranklinGothicBold;
  margin-left: 16px;
  position: relative;
  top: 4px;
}
.blocks-heading {
  margin-bottom: 70px;
}
.design-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.design-page-content {
  overflow-y: auto;
  padding: 0 5%;
}
.design-page-section {
  margin-top: 32px;
}
.design-page-container {
  width: 100%;
}
.snippet-container {
  overflow: hidden;
  border-radius: 7px;
  margin: 16px 0;
}
.snippet-container > div {
  padding: 12px 16px;
  border-radius: 7px;
  overflow-x: auto;
}
.snippet-container .highlight {
  margin: 0;
}
.left-nav-panel {
  width: 400px;
  height: 100%;
  overflow-y: auto;
  padding: 32px 32px;
}
.left-nav-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.doc-section {
  margin-bottom: 40px;
}
.doc-section > div {
  margin: 40px 0 16px 0;
}
.doc-definition-title {
  font-family: FranklinGothicMedium;
  flex: 0 0 150px;
}
.doc-definition-value {
  flex: 1;
}
.doc-state-title {
  flex: 0 0 150px;
}
.doc-state-content {
  flex: 0 0 250px;
}
.doc-state-title,
.doc-state-content {
  margin-bottom: 40px;
}
.color-card {
  display: inline-block;
  width: 128px;
  margin: 0 32px 32px 0;
}
.color-card .color-card-background {
  width: 100%;
  height: 80px;
  display: table;
}
.color-card .color-card-title {
  width: 100%;
  height: 32px;
  display: table;
}
.color-card .color-card-name,
.color-card .color-card-value {
  width: 128px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cbre {
  background-color: #00b07d;
  background-color: var(--brand-01, #00b07d);
}
.blocks-title {
  color: #00b07d;
  color: var(--brand-01, #00b07d);
}
.snippet-container {
  border: 2px solid #d9e1e0;
  border: 2px solid var(--ui-04, #d9e1e0);
}
.snippet-container > div:last-child {
  background-color: #f5faf8;
  background-color: var(--ui-02, #f5faf8);
}
.left-nav-panel {
  background-color: #edf0ee;
  background-color: var(--ui-03, #edf0ee);
  box-shadow: 2px 0 3px 0 rgba(43,56,54,0.15);
}
.left-nav-panel .category-title {
  padding: 16px 0;
  border-bottom: 2px solid #d9e1e0;
  border-bottom: 2px solid var(--ui-04, #d9e1e0);
}
.doc-section {
  border-bottom: solid 1px #d9e1e0;
  border-bottom: solid 1px var(--ui-04, #d9e1e0);
}
.color-card .color-card-title {
  border: 1px solid #7c8c88;
  border: 1px solid var(--text-02, #7c8c88);
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
.color-card .color-card-value {
  color: #7c8c88;
  color: var(--text-02, #7c8c88);
}
